{% extends "blogs/blogs_template.html" %}
{% block fb_share_url %}http://inwaitoftomorrow.appspot.com/blogs/AI_in_COVID19{% endblock %}
{% block fb_share_description %}A race against time: how AI is being used in the fight against COVID-19{% endblock %}
{% block fb_share_image %}'http://inwaitoftomorrow.appspot.com/static/img/AI_covid_two.jpg'{% endblock %}
{% block twitter_share_description %}A race against time: how AI is being used in the fight against COVID-19{% endblock %}
{% block twitter_share_image %}'http://inwaitoftomorrow.appspot.com/static/img/AI_covid_two.jpg'{% endblock %}
{% block twitter_share_url %}http://inwaitoftomorrow.appspot.com/blogs/AI_in_COVID19{% endblock %}
{% block title %}A race against time: how AI is being used in the fight against COVID-19{% endblock %}
{% block img_src %}{% endblock %}
{% block image_header_tw0 %}'../static/img/AI_covid_two.jpg'{% endblock %}
{% block header %}A race against time: how AI is being used in the fight against COVID-19{% endblock %}
{% block article_title %}A race against time: how AI is being used in the fight against COVID-19{% endblock %}
{% block main_article %}
    <div class="pt-2">
        <p>Artificial Intelligence (AI) is becoming a key player in global health</p>
        <p>In wake of the recent crisis, some of the major tech giants are looking to play their part in containing and finding a cure for the COVID-19 disease which has, so far, claimed over 5,000 lives. AI and technology have been progressing exponentially in recent years and healthcare is an industry set to benefit massively. </p>
    </div>
    <div>
        <h4 class="h4 font-weight-bold">How the tech world reacted to the COVID-19 outbreak</h4>
        <p>The world of technology has truly come together to find a cure for COVID-19. Representatives of Amazon, Google, Microsoft, Apple and Facebook met government officials at Downing Street to see how they could help contain the pandemic. </p>
        <p>The White House also announced a similar approach on Monday, opening what is officially known as the COVID-19 Open Research Dataset, or CORD-19 for short. CORD-19 will provide the global community with thousands of research papers. Machine learning techniques can be used in concordance with CORD-19 to rapidly analyse data and help scientists understand the novel coronavirus. </p>
        <p>With the vast amounts of technology at their disposal, scientists were able to sequence the entire genome of the novel coronavirus within the first 10 days of isolating the virus. Scientists can  analyse the genetic information and explore the different antigens and proteins that the virus produces in the hope of finding a cure. </p>
        <p>Google’s AI company have used the genetic information with their algorithms to predict the structure of several of the virus’ proteins. This is helping scientists understand the virus and will hopefully lead us closer to the cure. </p>
    </div>
    <div>
        <h4 class="h4 font-weight-bold">AI in predicting outbreaks</h4>
        <p>By analysing social media, news reports and government documents, AI can be used to track and detect outbreaks. Canadian start-up, BlueDot, provides this technology. The ability to track and predict an outbreak in its infancy could help save lives if used correctly. </p>
        <p>BlueDot had been developing this technology long before the outbreak of COVID-19 and their AI had been able to warn of the COVID-19 threat three days before the World Health Organisation issued their public warnings. </p>
    </div>
    <div>
        <h4 class="h4 font-weight-bold">AI in drug discovery</h4>
        <p>With COVID-19 spreading throughout the globe, companies are racing to find treatments and vaccines. Design of a drug takes around 4-5 years of research & development before undergoing years of clinical trials until companies can even think about mass producing it. Most drugs won’t make it out of clinical trials. </p>
        <p>We can’t speed up the clinical trials, but we can speed up the rate at which we find potential new drugs and vaccines. Exscienta, a British start-up, became the first ever company to put a drug designed by AI into human trials. The drug took only a year to create, compared to the usual 4-5 years. </p>
    </div>
    <div class="pb-5">
        <h4 class="h4 font-weight-bold">AI in diagnosis</h4>
        <p>Chinese tech giant Alibaba have developed a diagnostic system for COVID-19 and claim it can diagnose within seconds, boasting an accuracy of 96%.</p>
        <p>AI is becoming a powerful tool in medical diagnosis, and the significance of this is that doctors can diagnose without face-to-face contact with the patient. The accessibility of the technology could make it a lot easier for patients themselves to get a diagnosis without requiring a doctor. This would massively reduce the risk of spreading the virus further. </p>
        <p>In this current state of the pandemic, AI could be a game-changer. Most people are well aware of the risks with developing AI further, but the technology could provide rewards far greater. </p>
    </div>

<div class="pb-3">
    <!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7210548&style=0032&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" >
</a>
</div>
{% endblock %}
{% block time_and_date %}<p>Dillon Lad - 18/03/2020</p>{% endblock %}
{% block comments_fb_share %}http://inwaitoftomorrow.appspot.com/blogs/AI_in_COVID19{% endblock %}

{% block comments_fb %}http://inwaitoftomorrow.appspot.com/blogs/AI_in_COVID19{% endblock %}