<!DOCTYPE html>
<html lang="en">
<head>
    {%  if allow_third_party_cookies == "True" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-159574205-1');
        </script>
    {% else %}
    {% endif %}
    {{ structured_info | safe }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block fb_share_title %}{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% block fb_share_url %}{% endblock %}"/>
    <meta property="og:description" content="{% block fb_share_description %}{% endblock %}"/>
    <meta property="og:image" content={% block fb_share_image %}{% endblock %}/>
    <meta property="fb:app_id" content="2681838985277439"/>
    <meta name="twitter:title" content="{% block twitter_share_title %}{% endblock %}"/>
    <meta name="twitter:description" content="{% block twitter_share_description %}{% endblock %}"/>
    <meta name="twitter:image" content={% block twitter_share_image %}{% endblock %}/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="{% block twitter_share_url %}{% endblock %}"/>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js" defer></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.js" defer></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js" defer></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0/dist/css/bootstrap.min.css">
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, {% block meta_keywords %}{% endblock %}">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    {%  if allow_third_party_cookies == "True" %}
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '363987458380932');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=363987458380932&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    {% else %}
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body itemscope itemtype="https://schema.org/WebPage" onscroll="change_words()" onload="mostSimilar()" style="font-family: 'Cabin', sans-serif;{% if request.MOBILE %}{% else %} font-size: 18px!important;{% endif %}">
{% block body %}
{% endblock %}
{{ footer|safe }}
<script>

    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("articles").style.visibility = "hidden"
    }


    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("articles").style.visibility = "visible"
    }

    function closeflash(){
        document.getElementById('flashedmessages').style.visibility = "hidden";
    }

    function searchRedirect(){
            search_query = document.getElementById('searchQuery').value;
            window.location.replace('https://inwaitoftomorrow.appspot.com/search/' + search_query);
        }


    function newsletterSignup(){
        email = document.getElementById('emailAddress').value;
        return fetch("/blogs/signup/" + email, {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            }
          }).then(function(res) {
            return res.json();
          }).then(function(data) {
            alert(data.status);
          });
    }

    function newsletterSignup_two(){
        const email = document.getElementById('emailAddress_two').value;
        if (email === ""){
            alert("Email required")
        } else {
            return fetch("/blogs/signup/" + email, {
                method: 'post',
                headers: {
                  'content-type': 'application/json'
                }
              }).then(function(res) {
                return res.json();
              }).then(function(data) {
                alert(data.status);
              });
        }
    }

    function blogComment() {
        const userName = document.getElementById('userCommentName').value;
        const userComment = document.getElementById('userComment').value;
        const ratingValues = document.querySelectorAll("input[name='rating']");
        const postName = document.getElementById('postTitle').innerText;
        let selectedValue;
        for (const ratingValue of ratingValues) {
            if (ratingValue.checked) {
                selectedValue = ratingValue.value;
                break;
            }
        }
        if (userName === "" || userComment === "" || selectedValue === "") {
            alert("Missing fields required")
        } else {
            return fetch("/blogs/comment/" + userName + "/" + selectedValue + "/" + userComment + "/" + postName, {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                }
            }).then(function (res) {
                return res.json();
            }).then(function (data) {
                alert(data.status)
            });
        }
    }

    function mostSimilar(){
        var pathArray = window.location.pathname.split('/blogs/');
        console.log(pathArray)
        const postID = pathArray[1];
        div = document.getElementById('mostSimilarArticles');
        viewsDiv = document.getElementById('Views');
        return fetch("/api/similar/" + postID, {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            }
          }).then(function(res) {
            return res.json();
          }).then(function(data) {
            div.innerHTML = data.status;
            if (data.views !== 0) { viewsDiv.innerHTML = "<i class='fas fa-eye pl-1' style='border: none'></i> " + data.views; }
          });
    }


</script>
{% block custom_scripts %}
    {% endblock %}
</body>

</html>