{% extends 'blogs/blogs_template.html' %}
{% block body %}

    <link rel="stylesheet" href="../static/css/newnav.css">
    {{ navigation_page | safe }}
    <div class="container-fluid mb-2">
        <div class="container-fluid" id="navigation">

            <!--Top navigation bar-->
            <div id="nav_one" style="display: block" class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark fixed-top bg-dark" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="{{url_for('main.index')}}"><span class="navbar-brand text-white navbar-dark mb-0 h1">In Wait of Tomorrow</span></a>
                        <div class="dropdown dropleft show btn-group">
                            <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="nav_two" style="display: none" class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark fixed-top bg-dark" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                            <span style="float: left" class="text-white"><i style="border: none" class="fas fa-share-alt"></i> Share | <a class="text-white" href="https://api.whatsapp.com/send?text={% for post in post %}{{ post.url_ | safe }}{% endfor %}"><i style="border: none" class="fab fa-whatsapp"></i></a> <a class="text-white" href="http://www.facebook.com/sharer.php?u={% for post in post %}{{ post.url_ | safe }}{% endfor %}"><i class="fab fa-facebook-square" style="border: none"></i></a> <a class="text-white" href="https://twitter.com/intent/tweet?url={% for post in post %}{{ post.url_ | safe }}{% endfor %}&text={% for post in post %}{{ post.Title | safe }}{% endfor %}"><i class="fab fa-twitter-square" style="border: none"></i></a> <a class="text-white" href="https://www.linkedin.com/sharing/share-offsite/?url={% for post in post %}{{ post.url_ | safe }}{% endfor %}"><i style="border: none" class="fab fa-linkedin-in"></i></a></span>
                            <div class="dropdown dropleft show btn-group">
                              <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                              </button>
                            </div>
                    </nav>
                </div>
            </div>

            <!--Redundant-->
            <div class="row container-fluid align-content-center mainimage w-100">
                {% block image_header %}{% endblock %}
            </div>
            <!--End of redundant-->
        </div>
        <div class="text-center text-dark p-2" style="margin-top: 60px">

            <!--Top social media links and newsletter form-->
            <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <form class="user row w-100 m-auto text-left" action="javascript:newsletterSignup()" novalidate>
                {{ newsletter_form.hidden_tag() }}
                {% from "_formhelpers.html" import render_field %}
                <div class="form-row">
                    <div class="form-group col-6">
                        {{ render_field(newsletter_form.user_email, class="form-control rounded-0 form-control-user", placeholder="Sign up for email updates!", id='emailAddress') }}
                    </div>
                    <div class="form-group col-2">
                        <button type="submit" class="btn btn-dark btn-user btn-block rounded-0 form-control form-control-user"><i class="fas fa-envelope" style="border: none"></i></button>
                    </div>
                    <div class="form-group col-1">
                        <a href="https://www.facebook.com/inwaitoftomorrow/" style="background-color: white; font-size: 30px!important;"><i class="fab fa-facebook-square" style="border: none; color: #3B5998;"></i></a>
                    </div>
                    <div class="form-group col-1">
                        <a href="https://www.instagram.com/inwaitoftomorrow/"  style="background-color: white; font-size: 30px!important;"><i class="fab fa-instagram-square" style="border: none; color: #125688;"></i></a>
                    </div>
                    <div class="form-group col-1">
                        <a href="https://twitter.com/InWaitofTomorr1"  style="background-color: white; font-size: 30px!important;"><i class="fab fa-twitter-square" style="border: none; color: #55ACEE;"></i></a>
                    </div>
                    <div class="form-group col-1">
                        <a href="https://www.reddit.com/user/inwaitoftomorrow" style="background-color: white; font-size: 30px!important;"><i class="fab fa-reddit-square" style="border: none; color: #ff5700;"></i></a>
                    </div>
                </div>
            </form>

            <!-- Displays flashed messages on a page -->
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="text-center m-auto p-5 font-weight-normal fixed-top" id="flashedmessages" style="z-index: 1031; max-width: 600px; background-color: #dddddd">
                            {% for message in messages %}
                                {{ message | safe }}
                            {% endfor %}
                        <a class='border border-dark text-dark rounded-0 w-100 pt-1 pb-1 pl-5 pr-5' href='javascript:void(0)' onclick="closeflash()">OK</a>
                        </div>
                    {% endif %}
            {% endwith %}

        </div>

        <!--Article title, time, date and share buttons-->
        <div class="row m-auto" style="max-width: 800px" itemprop="name">
            <div class="col-12 font-weight-normal ml-0 pl-0 h2">
                {% block article_title %}{% endblock %}
            </div>
        </div>
        <div class="row m-auto" style="max-width: 800px">
            <div class="col-12 font-weight-normal h6 ml-0 pl-0 mr-0 pr-0" itemtype="datePublished, author">{% block time_and_date %}{% endblock %}{% if number_of_comments > 0 %} | <i class="fas fa-comment" style="border: none"></i>{{ number_of_comments }} {% else %}{% endif %}<strong class="font-weight-normal text-muted" id="Views"></strong><span class="text-right mr-0" style="float: right;"><button class="bg-transparent" style="border: none;" onclick="shareButton()"><i style="border: none" class="fas fa-share-alt"></i></button></span>
            </div>
        </div>

        <!--Main image and article-->
        <div class="row pb-3">
            <img itemtype="primaryImageOfPage, image" src="{% block image_header_tw0_mob %}{% endblock %}" class="w-100" alt="{% for post in posts %}{{ post.Title }}{% endfor %}">
        </div>
        <div class="row">
            <div class="col-12 font-weight-normal pl-0 ml-0 w-100">
                {% block main_article_mob %}{% endblock %}
            </div>
        </div>

        <div class="row m-auto" style="max-width: 800px">
            <div class="col-1"></div>
           <div class="col-1 h1 ml-0 font-weight-bold">
           </div>
        </div>

        <div class="row m-auto w-100 pb-2 pt-3" style="max-width: 800px">
            <!--Comments form-->
            <form class="user w-100 text-left pb-4" action="javascript:blogComment()" novalidate>
                <h3 class="ml-0 pl-0 pb-4">Comments</h3>
                {{ form.hidden_tag() }}
                {% from "_formhelpers.html" import render_field %}
                <div class="form-group font-weight-normal">
                    {{ render_field(form.name, class="form-control form-control-user rounded-0", placeholder="Full Name", id='userCommentName') }}
                </div>
                <div class="form-group font-weight-normal">
                  {{ render_field(form.comment, class="form-control form-control-user rounded-0", placeholder="Comment", id='userComment', rows="3") }}
                </div>
                <!-- <div class="form-group">
                     {{ form.rating.label }}
                </div> -->
                <!-- <div class="form-group form-check-inline">
                        {% for subfield in form.rating %}
                            {{ subfield(class_="form-check-input") }}
                            {{ subfield.label(class_="form-check-label pr-1") }}
                        {% endfor %}
                    </div> -->
                {{ form.Submit(class_="btn btn-dark btn-user btn-block rounded-0") }}
            </form>
            <!--Comments display-->
            {% if comments|length %}
                {% for comment in comments %}
                    <div class="card w-100 mb-2 rounded-0">
                        <div class="card-header text-right">
                            {% for number in range(comment.stars) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}
                        </div>
                        <div class="card-body">
                            <table>
                                <tr class="col-12">
                                    <td class="text-primary font-weight-bold" style="max-width: 30%">{{ comment.name }}</td>
                                    <td class="font-weight-normal pl-3">{{ comment.comment }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted text-right">{{ comment.date }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>

        <div id="mostSimilarArticles" class="pt-3"></div>
        <!--Bottom newsletter form-->
        <div class="row m-auto pt-5 w-100" style="max-width: 800px">
            <div class="card col-12">
                <div class="card-body">
                    <h5 class="font-weight-normal card-title">Don't miss out on our latest content!</h5>
                    <form class="user col-12 w-100 text-left" action="javascript:newsletterSignup_two()" novalidate>
                        {{ newsletter_form.hidden_tag() }}
                        {% from "_formhelpers.html" import render_field %}
                        <div class="form-row">
                            <div class="form-group col-8">
                            {{ render_field(newsletter_form.user_email, class="form-control form-control-user rounded-0", placeholder="Email Address", id='emailAddress_two') }}
                            </div>
                            <div class="form-group col-4 pt-1">
                                {{ newsletter_form.Submit(class_="btn btn-dark btn-user btn-block rounded-0") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block custom_scripts %}
    <script>
        function change_words(){
            if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
                document.getElementById("nav_one").style.display = "none";
                document.getElementById("nav_two").style.display = "block";
            }
            else
                if (document.body.scrollTop < 150 || document.documentElement.scrollTop < 150) {
                    document.getElementById("nav_one").style.display = "block";
                    document.getElementById("nav_two").style.display = "none";
                }
        }

        function shareButton(){
            const shareData = {
                title: '{% for post in post %}{{ post.Title }}{% endfor %}',
                text: '{% for post in post %}{{ post.Description }}{% endfor %}',
                url: '{% for post in post %}{{ post.url_ }}{% endfor %}'
            }
            try {
                navigator.share(shareData)
                console.log('Article shared successfully')
            } catch(err) {
                console.log('Error: ' + err)
            }
        }
    </script>
{% endblock %}
