<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% block fb_share_url %}{% endblock %}"/>
    <meta property="og:description" content="{% block fb_share_description %}{% endblock %}"/>
    <meta property="og:image" content={% block fb_share_image %}{% endblock %}/>
    <meta property="fb:app_id" content="2681838985277439"/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="{% block twitter_share_description %}{% endblock %}"/>
    <meta name="twitter:image" content={% block twitter_share_image %}{% endblock %}/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="{% block twitter_share_url %}{% endblock %}"/>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5e71ee341758630012f31ae5&product=inline-follow-buttons" async="async"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<div class="container-fluid">
    <!-- Displays flashed messages on a page -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<div class="container-fluid mainimage h-75" style="background-image: url({% block image_header_tw0 %}{% endblock %})">
    <div class="row masthead h-75">
        <div class="col-md-12">
            <nav class="navbar container-fluid" style="width: 100%">
                <a href="{{url_for('main.index')}}"><span class="navbar-brand text-dark navbar-dark mb-0 h1">In Wait of Tomorrow</span></a>
                <a href="{{url_for('main.show_blog')}}" class="btn btn-dark">Articles</a>
            </nav>
        </div>
    </div>
    <div class="row container-fluid align-content-center mainimage w-100">
        {% block image_header %}{% endblock %}
    </div>
</div>
    <div class="row h1 ml-0 font-weight-bold text-center col-12">
        {% block article_title %}{% endblock %}
    </div>
    <div class="row ml-0 font-weight-bold">
        {% block intro %}{% endblock %}
    </div>
    <div class="row">
        {% block article_media %}{% endblock %}
    </div>
    <div class="row ml-0 font-weight-light pr-5">
        {% block main_article %}{% endblock %}
    </div>
<div class="font-italic h6">{% block time_and_date %}{% endblock %}</div>
<a href="https://twitter.com/InWaitofTomorr1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @InWaitofTomorr1</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="sharethis-inline-follow-buttons"></div>
    <div class="fb-share-button" data-href="{% block comments_fb_share %}{% endblock %}" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
{% block comments %}
    <div class="fb-comments" data-href="{% block comments_fb %}{% endblock %}" data-width="100%" data-numposts="5"></div>
{% endblock %}

</div>

</body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
</html>