{% extends "blogs/blogs_template.html" %}
{% block title %}COVID-19 – what is the plan and will it work?{% endblock %}
{% block img_src %}{% endblock %}
{% block image_header_tw0 %}'../static/img/covid_new_two.jpg'{% endblock %}
{% block header %}COVID-19 – What is the plan... and will it work?{% endblock %}
{% block article_title %}COVID-19 – What is the plan... and will it work?{% endblock %}
{% block main_article %}
    <div>
    <p>
    In the space of a few months we’ve watched COVID-19 develop from a localised epidemic in the city of Wuhan, China, to one of the largest pandemics of our generation. It’s ridiculously contagious and has the nation in complete panic.
    </p>
    <p>By now, we’re pretty much aware of the origin of the virus, but it’s time to shift the narrative to preparation and prevention.
    </p>
    </div>
    <div>
    <h2 class="h2 font-weight-bold font-italic">How does it compare to past outbreaks?</h2>
    <p>COVID-19 is by far the most contagious disease outbreak that we’ve seen in recent times.</p>
<p>It spreads faster than the seasonal flu and has a global mortality rate of around 3%.</p>
<p>SARS was another deadly coronavirus that came from China. It was actually more deadly than COVID-19, killing 15% of people that it infected. COVID-19, however, has already claimed far more lives since SARS. SARS was far easier to identify and, what’s more, the virus didn’t have the "fitness to persist in the human population," according to Dr Mark Schleiss, who specialises in paediatric infection disease at the University of Minnesota. </p>
<p>Ebola killed nearly 50% of the people infected, but was mainly spread through blood and sweat, rather than coughing and sneezing, making it less infectious. Ebola killed almost double the amount of people that COVID-19 has so far. Ebola killed over 11000 people died in just 10 countries. </p>
</div>
    <div>
    <h2 class="h2 font-weight-bold font-italic">How are we coping with it?</h2>
    <p>The reactions of different countries have been well-documented. Italy is in a state of lockdown and the USA is starting to ban flights from Europe. </p>
<p>The UK government haven’t been too forthcoming with how they intend to deal with it. PM Boris Johnson hasn’t exactly reassured the public and, in fact, told us all that many of us will lose their loved ones. The public really is on edge, and the supermarket shelves continue to empty. </p>
<p>So, it looks to many as though the UK government is trying to achieve ‘herd immunity’ as a possible solution, although Health Secretary Matt Hancock denied this when questioned by BBC One’s Andrew Marr. Herd immunity is when enough of the population is immune to a disease such that the people who aren’t immune have a tiny chance of coming into contact with each other. Therefore, if someone isn’t immune and they contract the disease, they’re not likely to come into contact with someone who also isn’t immune, and so the disease won’t spread. </p>
<p>Herd immunity can be achieved by vaccinating enough of the population. But in the case of COVID-19, there is no such vaccine yet. The UK government have initiated the ‘delay phase’, which basically means they’re going to allow COVID-19 to spread throughout the UK population but will try to lower the rate of spread. The hope is that the NHS will cope better with the outbreak at this slower rate, and everyone infected can receive treatment. </p>
<p>Once it has spread through the population, many people will have been infected and will have recovered, leading to their immunity. The hope is that this will be enough to achieve herd immunity. </p>
<p>But to put herd immunity in perspective, we would need around 47 million people in the UK to become infected to achieve this. With the current mortality rate in the UK at around 2%, we could see up to 1 million deaths. </p>
    </div>
    <div>
        <h2 class="h2 font-weight-bold font-italic">When will it get better?</h2>
    <p>There’s a lot of research into new vaccines and cures all over the world. But realistically, we aren’t going to see a vaccine for COVID-19 in 2020. Most new drugs and vaccines don’t pass clinical trials, and for those that make it, mass production is another challenge. </p>
<p>You may have been hearing that the number of new cases in China is falling. According to WHO, there were only 27 new cases in the last day. China’s approach to containing the virus was far different from the UK’s: herd immunity was not in their agenda. The 'delay phase' aims to push the peak of the UK COVID-19 outbreak to June. So don't expect any improvements until then. </p>
    </div>

<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7210546&style=0032&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" >
</a>


{% endblock %}
{% block time_and_date %}<p>Dillon Lad - 15/03/2020</p>{% endblock %}
{% block comments_fb_share %}http://inwaitoftomorrow.appspot.com/blogs/COVID19{% endblock %}
{% block comments_fb %}http://inwaitoftomorrow.appspot.com/blogs/COVID19{% endblock %}