{% extends "blogs/blogs_template.html" %}
{% block fb_share_url %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
{% block fb_share_title %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block fb_share_description %}{% for post in post %}{{ post.Description | safe }}{% endfor %}{% endblock %}
{% block fb_share_image %}'http://inwaitoftomorrow.appspot.com{% for post in post %}{{ post.Image_root | safe }}{% endfor %}'{% endblock %}
{% block twitter_share_title %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block twitter_share_description %}{% for post in post %}{{ post.Description | safe }}{% endfor %}{% endblock %}
{% block twitter_share_image %}'http://inwaitoftomorrow.appspot.com{% for post in post %}{{ post.Image_root | safe }}{% endfor %}'{% endblock %}
{% block twitter_share_url %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
{% block meta_description %}{% for post in post %}{{ post.Description | safe }}{% endfor %}{% endblock %}
{% block meta_keywords %}{% for post in post %}{{ post.keywords | safe }}{% endfor %}{% endblock %}
{% block title %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block image_header_tw0 %}..{% for post in post %}{{ post.Image_root | safe }}{% endfor %}{% endblock %}
{% block header %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block article_title %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block main_article %}{% for post in post %}{{ post.Content | safe }}{% endfor %}{% endblock %}
{% block time_and_date %}By {% for post in post %}{{ post.author | safe }}{% endfor %}, {% for post in post %}{{ post.Date | safe }}{% endfor %}{% endblock %}
{% block comments_fb_share %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
{% block comments_fb %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
