{% if request.MOBILE %}
    {% extends "blogs/blogs_template_mobile.html" %}
{% else %}
    {% extends "blogs/blogs_template_not_mobile.html" %}
{% endif %}

{% block fb_share_url %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
{% block fb_share_title %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block fb_share_description %}{% for post in post %}{{ post.Description | safe }}{% endfor %}{% endblock %}
{% block fb_share_image %}'http://inwaitoftomorrow.appspot.com{% for post in post %}{{ post.Image_iphone | safe }}{% endfor %}'{% endblock %}
{% block twitter_share_title %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block twitter_share_description %}{% for post in post %}{{ post.Description | safe }}{% endfor %}{% endblock %}
{% block twitter_share_image %}'http://inwaitoftomorrow.appspot.com{% for post in post %}{{ post.Image_iphone | safe }}{% endfor %}'{% endblock %}
{% block twitter_share_url %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
{% block meta_description %}{% for post in post %}{{ post.Description | safe }}{% endfor %}{% endblock %}
{% block meta_keywords %}{% for post in post %}{{ post.keywords | safe }}{% endfor %}{% endblock %}
{% block title %}{% for post in post %}{% if post.no_series_name is none %}{{ post.Title | safe }}{% else %}{{ post.no_series_name | safe }}{% endif %}{% endfor %}{% endblock %}
{% block image_header_tw0 %}..{% for post in post %}{{ post.Image_iphone | safe }}{% endfor %}{% endblock %}
{% block image_header_tw0_mob %}..{% for post in post %}{{ post.Image_iphone | safe }}{% endfor %}{% endblock %}
{% block header %}{% for post in post %}{{ post.Title | safe }}{% endfor %}{% endblock %}
{% block article_title %}{% for post in post %}{% if post.series is not none %}<h4 class="text-muted pl-0 ml-0">{{ post.series }}</h4><h1 class="ml-0 pl-0">{{ post.no_series_name }}</h1>{% else %}{{ post.Title | safe }}{% endif %}{% endfor %}{% endblock %}
{% block main_article_mob %}{% for post in post %}{{ post.Content | safe }}{% endfor %}{% endblock %}
{% block main_article %}{% for post in post %}{{ post.Content | safe }}{% endfor %}{% endblock %}
{% block time_and_date %}By <a href="{{ url_for('main.authors', author_id=post_authorid) }}">{% for post in post %}{{ post.author | safe }}{% endfor %}</a> <b class="font-weight-normal text-muted pl-2">{{ new_date }}</b>{% endblock %}
{% block comments_fb_share %}{% for post in post %}{{ post.url_ | safe }}{% endfor %}{% endblock %}
