<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
    </head>
    <body>
        <div class="m-auto p-3 border-dark bg-dark text-white" style="max-width: 600px; border-width: thin; border-color: black">
            <h3 class="font-weight-normal text-left ml-0">Question of the week</h3>
            <p class="ml-0">Who does this famous quote belong to? "The greatest glory in living lies not in never falling, but in rising every time we fall."</p>
            <form id="quiz" class="btn-group-vertical w-100">
                <button onclick="optioncorrect()" type="button" id="option_correct" class="w-100 btn m-0 text-left rounded-0" style="border-color: black">Nelson Mandela <i class="fa fa-lg fa-check m-0" id="tick" style="visibility: hidden; border: none"></i></button>
                <button onclick="optionincorrect()" type="button" id="option_incorrect" class="w-100 btn m-0 text-left rounded-0" style="border-color: black">Martin Luther King Jr <i class="fa fa-lg fa-times m-0" id="cross" style="visibility: hidden; border: none"></i></button>
                <button onclick="optionincorrect()" type="button" id="option_incorrect_one" class="w-100 btn m-0 text-left rounded-0" style="border-color: black">Malcolm X <i class="fa fa-lg fa-times m-0" id="cross_one" style="visibility: hidden; border: none"></i></button>
            </form>
        </div>
    </body>
</html>