<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159574205-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta property="og:description" content="We write futurology - analysis of current trends to predict what the future might be like"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="Who knows what the future might look like"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="The latest in tech, science and more, In Wait of Tomorrow is futurology - we analyse how advancements may affect our future. Follow @inwaitoftomorrow on Instagram."/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>Analytics</title>
<!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '363987458380932');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=363987458380932&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body style="background-color: #dddddd; font-family: 'Cabin', sans-serif;">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center m-auto p-5 font-weight-normal" style="max-width: 600px">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
  {{ navigation_page | safe }}
    <div style="display: block" class="row w-100">
        <div class="col-12">
            <nav class="navbar navbar-dark fixed-top bg-dark" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                    <a id="home_link" href="{{url_for('main.index')}}"><span class="navbar-brand text-white navbar-dark mb-0 h1 font-weight-normal">In Wait of Tomorrow</span></a>
                    <div class="dropdown dropleft show btn-group">
                      <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                      </button>
                    </div>
            </nav>
        </div>
    </div>
    <div class="row w-100 container-fluid m-auto text-center" style="min-height: 100vh; max-width: 600px; padding-top: 15vh">
        <div class="border border-dark text-center m-auto" style="border-radius: 50%!important; height: 40vh; width: 40vh; border-width: 20px!important;">
            <h3 class="h3 w-100 m-auto" style="margin-top: 25%!important;">Total website page views: </h3>
            <p class="w-100 m-auto">{{ total_website_views }}</p>
            <h4 class="h4 w-100 m-auto">Total article reads:</h4>
            <p class="w-100 m-auto">{{ total }}</p>
        </div>
    </div>
    <div class="row container-fluid w-100 m-auto pt-5" style="max-width: 800px;">
        <table class="w-100 p-2">
            <tr class="ml-1 border-bottom border-dark">
                <th>Article</th>
                <th>Views</th>
            </tr>
            {% for blog in blog_list %}
                <tr>
                    <td class="p-2">{{ blog.Blog_title }}</td>
                    <td class="p-2">{{ blog.article_views }}</td>
                </tr>
            {% endfor %}
        </table>
        <p class="pt-5">Total: {{ total }}</p>
    </div>
    <div class="row container-fluid w-100 m-auto pt-5 pb-5" style="max-width: 800px;">
        <table class="w-100 p-2">
            <tr class="ml-1 border-bottom border-dark">
                <th>Product</th>
                <th>Views</th>
            </tr>
            {% for product in product_list %}
                <tr>
                    <td class="p-2">{{ product.product_name }}</td>
                    <td class="p-2">{{ product.product_views }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
<script src="../static/js/EasePack.min.js"></script>
<script src="../static/js/TweenLite.min.js"></script>
<script src="../static/js/demo.js"></script>
<script src="../static/js/newstyles.min.js"></script>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }
</script>
</body>
</html>