<!DOCTYPE html>
<html lang="en">
<head>
    {%  if allow_third_party_cookies == "True" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-159574205-1');
        </script>
    {% else %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ person.author_name }} - In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://inwaitoftomorrow.appspot.com/author/{{ person.author_id }}"/>
    <meta property="og:description" content="{{ person.description }}"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/{{ person.carikita }}'/>
    <meta name="twitter:title" content="{{ person.author_name }} - In Wait of Tomorrow"/>
    <meta name="twitter:description" content="{{ person.description }}"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/{{ person.carikita }}'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="http://inwaitoftomorrow.appspot.com/author/{{ person.author_id }}"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com/author/{{ person.author_id }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="{{ person.description }}"/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>In Wait of Tomorrow - {{ person.author_name }}</title>
    {%  if allow_third_party_cookies == "True" %}
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '363987458380932');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=363987458380932&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    {% else %}
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body style="background-color: #dddddd; font-family: 'Cabin', sans-serif;" itemscope itemtype="https://schema.org/WebPage">

    <!-- Flashed messages -->
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center m-auto p-5 font-weight-normal fixed-top" id="flashedmessages" style="max-width: 600px; background-color: #dddddd; z-index: 1031">
                    {% for message in messages %}
                        {{ message | safe }}
                    {% endfor %}
                <a class='border border-dark text-dark rounded-0 w-100 pt-1 pb-1 pl-5 pr-5' href='javascript:void(0)' onclick="closeflash()">OK</a>
                </div>
            {% endif %}
    {% endwith %}

    <link rel="stylesheet" href="../../static/css/newnav.css">
    {{ navigation_page| safe }}

    <!-- Mobile design-->

    {% if request.MOBILE %}
        <div class="container-fluid mainimage opacity-5" style="background-color: white">

            <!-- Navbar -->
            <div style="display: block" class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark fixed-top bg-white" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a id="home_link" href="{{url_for('main.index')}}"><span class="navbar-brand text-dark navbar-dark mb-0 h1 font-weight-normal">In Wait of Tomorrow</span></a>
                        <div class="dropdown dropleft show btn-group">
                              <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                              </button>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- Social media and search-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
            <div class="container-fluid w-100 row m-auto text-center" style="padding-top: 10vh; max-width: 600px">
                <div class="col-12 text-center w-100">
                    <picture class="w-100">
                            <img itemscope itemtype="https://schema.org/ImageObject" src="../static/img/{{ person.carikita }}" alt="Caricature" style="max-width: 200px; height: auto">
                    </picture>
                </div>
                <div class="row w-100 m-auto text-center pb-5" style="max-width: 600px">
            		<h2 class="font-weight-normal mt-2 text-center w-100 m-auto">{{ person.author_name }}</h2>
            		<p class="font-weight-normal text-center w-100 m-auto">Roles: {{ person.roles }}</p>
            		<p class="font-weight-normal text-center w-100 m-auto">{{ person.description }} Check out my articles below!</p>
                    <span class="w-100 m-auto text-center"><a class="text-dark" href="https://twitter.com/{{ person.twitter }}"><i class="fab fa-twitter-square" style="border: none"></i></a> <a class="text-dark" href="https://www.linkedin.com/in/{{ person.linkedin }}/"><i style="border: none" class="fab fa-linkedin-in"></i></a></span>
        	    </div>
            </div>
            <br>
        </div>

        <!-- Articles-->
        <div class="container-fluid w-100 pt-5">
            {% if posts|length %}
                <div class="m-auto" style="max-width: 600px">
                    {% for post in posts %}
                        <link rel="stylesheet" href="../../static/css/hovering.css">
                        <div class="card mb-3 rounded-0" style="width: 100%" itemscope itemtype="https://schema.org/Blog">
                            <div class="hovereffect rounded-0 bg-transparent">
                                <picture>
                                    <source style="max-width: 600px; height: auto" class="card-img-top img-fluid" srcset="..{{ post.Image_root }}" type="image/webp">
                                    <img class="card-img-top img-fluid" itemscope itemtype="https://schema.org/ImageObject" src="..{{ post.Image_iphone }}" alt="{{ post.Title }}" style="max-width: 600px; height: auto; border-radius: 0!important;">
                                </picture>
                                <div class="overlay" id="img_overlay">
                                    <p class="text-white text-left ml-1" style="font-size: small" itemprop="description">{{ post.Description }}<br><a class="text-center bg-transparent border-white btn rounded-0 text-white w-50" style="font-size: x-small" href="{{ url_for('blogs.post', Post_ID = post.Post_ID) }}">Read more</a></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted font-weight-normal">{{ post.author }} | {{ post.Date }}</h6>
                                <a class="h4 mb-2 font-weight-normal ml-0" href="{{ url_for('blogs.post', Post_ID = post.Post_ID) }}"><p class="card-text mb-2" itemprop="name">{{ post.Title }}</p></a>
                                <p class="card-subtitle mb-2 text-muted font-weight-normal">{{ post.category }} | 4 min read</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Sorry, no posts are available at this time</p>
            {% endif %}
        </div>

        {{ footer|safe }}

    <!--Computer design-->
    {% else %}
        <div class="container-fluid mainimage opacity-5" style="background-color: white">
            <!--Navbar-->
            <div style="display: block" class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark fixed-top bg-white" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                            <a id="home_link" href="{{url_for('main.index')}}"><span class="navbar-brand text-dark navbar-dark mb-0 h1 font-weight-normal">In Wait of Tomorrow</span></a>
                            <div class="dropdown dropleft show btn-group">
                              <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                              </button>
                            </div>
                    </nav>
                </div>
            </div>

            <!--Social media, categories and search-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
            <div class="container-fluid w-100 row m-auto" style="min-height: 50vh;">
                <div class="col-12 text-center w-100 mt-5 ml-auto mr-auto">
                    <picture class="w-100">
                            <img itemscope itemtype="https://schema.org/ImageObject" src="../static/img/{{ person.carikita }}" alt="Caricature" style="max-width: 200px; height: auto">
                    </picture>
                </div>
                <div class="row w-100 m-auto text-center pb-5" style="max-width: 600px">
            		<h2 class="font-weight-normal mt-2 text-center w-100 m-auto">{{ person.author_name }}</h2>
            		<p class="font-weight-normal text-center w-100 m-auto">Roles: {{ person.roles }}</p>
            		<p class="font-weight-normal text-center w-100 m-auto">{{ person.description }} Check out my articles below!</p>
                    <span class="w-100 m-auto text-center"><a class="text-dark" href="https://twitter.com/{{ person.twitter }}"><i class="fab fa-twitter-square" style="border: none"></i></a> <a class="text-dark" href="https://www.linkedin.com/in/{{ person.linkedin }}/"><i style="border: none" class="fab fa-linkedin-in"></i></a></span>
        	    </div>
            </div>
        </div>
        <!-- Articles-->
        {% if posts|length %}
            <div class="row m-auto container-fluid pt-5" id="cards">
                <link rel="stylesheet" href="../../static/css/hovering.css">
                {% for post in posts %}
                    <div class="col-3">
                        <div class="card mb-3 rounded-0" style="border-color: #dddddd" itemscope itemtype="https://schema.org/Blog">
                            <div class="hovereffect" style="min-height: 400px">
                                <picture>
                                    <source style="max-width: 600px; height: auto" class="card-img-top img-fluid" srcset="..{{ post.Image_root }}" type="image/webp">
                                    <img class="card-img-top img-fluid" itemscope itemtype="https://schema.org/ImageObject" src="..{{ post.Image_iphone }}" alt="{{ post.Title }}" style="max-width: 600px; height: auto">
                                </picture>
                                <div class="overlay" id="img_overlay">
                                    <p class="text-white text-left ml-1" style="font-size: small" itemprop="description">{{ post.Description }}<br><a class="text-center bg-transparent border-white btn rounded-0 text-white w-50" style="font-size: x-small" href="{{ url_for('blogs.post', Post_ID = post.Post_ID) }}">Read more</a></p>
                                </div>
                            </div>
                          <div class="card-body" style="min-height: 200px">
                              <h6 class="card-subtitle mb-2 text-muted font-weight-normal">{{ post.author }} | {{ post.Date }}</h6>
                              <a class="text-dark font-weight-normal h-5 mb-2" href="{{ url_for('blogs.post', Post_ID = post.Post_ID) }}"><p class="card-text mb-2" itemprop="name">{{ post.Title }}</p></a>
                              <h6 class="card-subtitle mb-2 text-muted font-weight-normal">{{ post.category }} | 4 min read</h6>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Sorry, no posts are available at this time</p>
        {% endif %}

        {{ footer|safe }}

    {% endif %}



<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("img_overlay").className = document.getElementById("img_overlay").className.replace( /(?:^|\s)overlay(?!\S)/g , '' )
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("img_overlay").className = document.getElementById("img_overlay").className.replace( /(?:^|\s)(?!\S)/g , 'overlay' )
      document.getElementById("cards").style.visibility = "visible"

    }

    function closeflash(){
        document.getElementById('flashedmessages').style.visibility = "hidden";
    }

</script>
</body>
</html>