<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159574205-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta property="og:description" content="We write futurology - analysis of current trends to predict what the future might be like"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="Who knows what the future might look like"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/hovering.css">
    <link rel="stylesheet" href="../static/css/title.css">
    <link rel="stylesheet" href="../static/css/newstyles.css">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/newnav.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com">
    <link href="../static/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="The latest in tech, science and more, In Wait of Tomorrow is futurology - we analyse how advancements may affect our future. Follow @inwaitoftomorrow on Instagram."/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body itemscope itemtype="https://schema.org/WebPage">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center m-auto p-5 font-weight-normal" style="max-width: 600px">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
  <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
          <a href="{{ url_for('main.show_blog') }}">Latest articles</a>
          <div class="dropdown-divider text-center align-self-center m-auto" style="max-width: 600px"></div>
          {% for category in categories %}
            {% if category.category_name != "Blog" %}
                <a href="{{ url_for('main.show_blog_category', category=category.category_name) }}">{{ category.category_name }}</a>
            {% endif %}
          {% endfor %}
      </div>
  </div>
    {% if request.MOBILE %}
<div class="container-fluid mainimage opacity-5" style="background-image: url('../static/img/Picture3.png')">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-transparent container-fluid" itemscope itemtype="https://schema.org/SiteNavigationElement">
                <a href="{{url_for('main.index')}}"><span class="navbar-brand text-white mb-0 h1">In Wait of Tomorrow</span></a>
                <div class="dropdown dropleft show btn-group">
                  <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                  </button>
                </div>
            </nav>
        </div>
    </div>
    <header class="masthead" style="min-height: 100vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center" style="padding-top: 0vh">
                    <h1 class="font-weight-light" itemprop="name">In Wait of Tomorrow</h1>
                    <div id="typed-strings">
                        <p class="lead">^1000 Futurology ^1000 - Systematic forecasting of the future ^1000 based on current trends^2000</p>
                        <p class="font-weight-normal font-italic">"I know not with what weapons World War III will be fought ^1000, but World War IV will be fought with sticks and stones." ~ Albert Einstein ^1000</p></div>
                    <span id="typed" class="pb-2 font-italic"></span>

                </div>
                <div class="col-12">
                    <div class="text-center font-weight-normal col-12"><a class="font-weight-normal text-dark" href="#articles">Check out our latest articles</a></div>
                    <div class="text-center font-weight-normal col-12"><a class="font-weight-normal text-dark" href="#articles"><i class="arrow down"></i></a></div>
                </div>
            </div>
        </div>
    </header>

</div>
    {% else %}
    <div class="container-fluid mainimage opacity-5" style="background-image: url('../static/img/Picture3.png')">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-transparent container-fluid" itemscope itemtype="https://schema.org/SiteNavigationElement">
                <a href="{{url_for('main.index')}}"><span class="navbar-brand text-white mb-0 h1">In Wait of Tomorrow</span></a>
                <div class="dropdown dropleft show btn-group">
                  <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                  </button>
                </div>
            </nav>
        </div>
    </div>
    <header class="masthead-mob" style="min-height: 40vh">
        <div class="container h-40">
            <div class="row h-40 align-items-center p-5">
                <div class="col-12 text-center" style="padding-top: 0vh">
                    <h1 class="font-weight-light" itemprop="name">In Wait of Tomorrow</h1>
                    <div id="typed-strings" style="max-width: 600px">
                        <p class="lead">^1000 Futurology ^1000 - Systematic forecasting of the future ^1000 based on current trends^2000</p>
                        <p class="font-weight-normal font-italic">"I know not with what weapons World War III will be fought ^1000, but World War IV will be fought with sticks and stones." ~ Albert Einstein ^1000</p></div>
                    <span id="typed" class="pb-2 font-italic"></span>

                </div>
            </div>
        </div>
    </header>

</div>
{% endif %}
<div id="articles" class="row">
    {% block list_of_articles %}{% endblock %}
</div>
<div class="row">
    {% block twitter %}{% endblock %}
</div>
<script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    typeSpeed: 50,
    backDelay: 100,
    backspeed: 20,
    loop: true
  });
</script>
<script src="../static/js/EasePack.min.js"></script>
<script src="../static/js/TweenLite.min.js"></script>
<script src="../static/js/demo.js"></script>
<script src="../static/js/newstyles.js"></script>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "In Wait of Tomorrow",
    "url": "https://inwaitoftomorrow.appspot.com/",
    "address": "The future",
    "sameAs": [
      "https://www.instagram.com/inwaitoftomorrow/",
      "https://twitter.com/InWaitofTomorr1",
      "https://www.facebook.com/inwaitoftomorrow/",
      "https://www.facebook.com/AISoc.ucl/",
      "https://medium.com/@dlad82434",
      "https://www.reddit.com/user/inwaitoftomorrow",
      "https://inwaitoftomorrow.com/"
    ]
  }
</script>
</body>
</html>