<!DOCTYPE html>
<html lang="en">
<head>
    {%  if allow_third_party_cookies == "True" %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-159574205-1');
        </script>
    {% else %}
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta property="og:description" content="We write futurology - analysis of current trends to predict what the future might be like"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="Who knows what the future might look like"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="The latest in tech, science and more, In Wait of Tomorrow is futurology - we analyse how advancements may affect our future. Follow @inwaitoftomorrow on Instagram."/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {%  if allow_third_party_cookies == "True" %}
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '363987458380932');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=363987458380932&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    {% else %}
    {% endif %}
</head>

<body itemscope itemtype="https://schema.org/WebPage" class="w-100" onscroll="fixed_top()" onload="mostPopular()" style="font-family: 'Cabin', sans-serif;{% if request.MOBILE %} background-color: white{% else %} background-color: #dddddd{% endif %}">

    {% from "flashedPopupMessages.html" import flashed_message_popup %}
    {{ flashed_message_popup() }}

    <!--Navigation -->
    {{ navigation_page | safe }}

    <!--Mobile page-->
    {% if request.MOBILE %}

        <!--Main background-->
        <div class="container-fluid mainimage opacity-5 w-100" style="background-image: url('../static/img/Picture3.png')">

            <!--Navigation bar-->
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark bg-transparent container-fluid" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="{{url_for('main.index')}}"><span class="navbar-brand text-white mb-0 h1 font-weight-normal">In Wait of Tomorrow</span></a>
                        <div class="dropdown dropleft show btn-group">
                            <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                            </button>
                        </div>
                    </nav>
                </div>
            </div>

            <!--Main front body-->
            <header class="masthead" style="min-height: 100vh">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center" style="padding-top: 0vh">
                            <h1 class="font-weight-light" itemprop="name">In Wait of Tomorrow</h1>
                            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                            <div id="typed-strings">
                                <p class="lead">^1000 Futurology ^1000 - Systematic forecasting of the future ^1000 based on current trends^2000</p>
                                <p class="font-weight-normal font-italic">"I know not with what weapons World War III will be fought ^1000, but World War IV will be fought with sticks and stones." ~ Albert Einstein ^1000</p></div>
                            <span id="typed" class="pb-2 font-italic"></span>

                        </div>
                       <div class="text-center m-auto row w-100" style="max-width: 800px">
                            <a href="#articles" class="text-dark text-center m-auto border-dark btn rounded-0 bg-transparent h3 mt-3" style="border-width: medium">CHECK OUT OUR LATEST ARTICLES</a>
                        </div>
                    </div>
                </div>
            </header>

        </div>

    <!--Not Mobile-->
    {% else %}

        <!--Main background-->
        <div class="container-fluid w-100 h-100 opacity-5 mainimage" style="background-color: white; background-size: cover; min-height: 40vh">

            <!--Navigation bar-->
            <div class="container-fluid">
                <div id="nav_one" style="display: block" class="row">
                    <div class="col-12">
                        <nav class="navbar bg-white container-fluid w-100 fixed-top" style="width: 100%; min-height: 5vh" itemscope itemtype="https://schema.org/SiteNavigationElement">
                            {% if homepage == "yes" %}
                                <span style="float: left"><a class="text-dark" href="https://www.facebook.com/inwaitoftomorrow"><i class="fab fa-facebook-square" style="border: none"></i></a> <a class="text-dark" href="https://twitter.com/InWaitofTomorr1"><i class="fab fa-twitter-square" style="border: none"></i></a> <a href="https://www.instagram.com/inwaitoftomorrow/" class="text-dark"><i class="fab fa-instagram" style="border: none; color: black; background: none"></i></a></span>
                            {% else %}
                                <a href="{{ url_for('main.index') }}" class="text-white">In Wait of Tomorrow</a>
                            {% endif %}
                            <div>
                                <a href="#aboutUs"><span class="navbar-brand mb-0 h1 font-weight-normal text-dark">About</span></a>
                                <a href="{{ url_for('main.show_blog') }}"><span class="navbar-brand mb-0 h1 font-weight-normal text-dark">Latest Articles</span></a>
                                <a href="{{ url_for('main.write_for_us') }}"><span class="navbar-brand mb-0 h1 font-weight-normal text-dark">Join the team!</span></a>
                                <a href="{{ url_for('shop.shop') }}"><span class="navbar-brand mb-0 h1 font-weight-normal text-dark">SHOP</span></a>
                            </div>
                            <div class="dropdown dropleft show btn-group float-right">
                                <button class="btn btn-dark" type="button" onclick="openNav()">&#9776;
                                </button>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <!--Main front body-->
            <div class="row m-auto container-fluid w-100" style="padding-top: 15vh">
                <div class="col-10">
                    <h1 class="font-weight-normal text-dark display-1 text-left ml-5 w-100" itemprop="name">In Wait of Tomorrow</h1>
                    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                    <div id="typed-strings" class="text-dark" style="max-width: 600px">
                        <p class="lead">^1000 Futurology ^1000 - Systematic forecasting of the future ^1000 based on current trends^2000</p>
                        <p class="font-weight-normal font-italic">"I know not with what weapons World War III will be fought ^1000, but World War IV will be fought with sticks and stones." ~ Albert Einstein ^1000</p>
                    </div>
                    <span id="typed" class="pb-5 text-dark ml-5"></span>
                </div>
                <div class="col-2 text-left">
                    <picture>
                        <source srcset="../static/img/logo.webp" style="width: 100%; height: auto" class="m-auto">
                        <source srcset="../static/img/logo.jpeg" style="width: 100%; height: auto" class="m-auto">
                        <img src="../static/img/logo.webp" style="width: 100%; height: auto" alt="In Wait of Tomorrow" class="m-auto">
                    </picture>
                </div>
            </div>
        </div>


    </div>

        <!--Fixed top navbar-->
        {% if homepage == "yes" %}
            <div class="text-center text-dark p-2 w-100 container-fluid bg-white" id="homepagefixedtop">
                {% for category in categories %}
                    {% if category.category_name != "Blog" %}
                        <a class="p-2 text-dark" href="{{ url_for('main.show_blog_category', category=category.category_name) }}">{{ category.category_name }}</a>
                    {% endif %}
                {% endfor %}
                <a data-toggle="collapse" class="text-dark" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-search" style="border: none"></i></a>

                <!--Collapsible search-->
                <div class="collapse" id="collapseSearch">
                    <div class="row col-12 pl-5 justify-content-center text-center" style="margin-top: 60px">
                        <form id="search-form" class="form-inline" method="POST" action="#main-title" onsubmit="change()" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group rounded-0">
                                {{ form.Search.label(class_="pr-2") }}{{ form.Search(class_="form-control form-control-user rounded-0") }}
                            </div>
                            <div class="form-group">
                                {{ form.Submit(class_="btn btn-dark btn-user btn-block rounded-0") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
        {% endif %}

    {% endif %}

    <div id="articles" class="row w-100 m-auto container-fluid">
        {% block list_of_articles %}{% endblock %}
    </div>
        {{ footer|safe }}
<script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    typeSpeed: 50,
    backDelay: 100,
    backspeed: 20,
    loop: true
  });
</script>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }

    function fixed_top(){

        var h = window.innerHeight;
        var h2 = h/2;
        if (document.body.scrollTop > h2 || document.documentElement.scrollTop > h2) {
            try {
                document.getElementById("homepagefixedtop").classList.add("fixed-top", "bg-white", "pt-4");
                document.getElementById("homepagefixedtop").classList.remove("bg-transparent");
                document.getElementById('homepagefixedtop').style.minHeight = "8vh";
            }
            catch(err){
                console.log(err)
            }
        }
        else
            if (document.body.scrollTop < h2 || document.documentElement.scrollTop < h2) {
                try {
                    document.getElementById("homepagefixedtop").classList.remove("fixed-top", "bg-white");
                    document.getElementById("homepagefixedtop").classList.add("bg-white");
                }
                catch(err){
                    console.log(err)
                }
            }
    }

    function submit_form_1(){
        var form = document.getElementById("search-form");
            document.getElementById("form-search").value = "How to avoid turning Earth into a wasteland";
            form.submit();
    }

    function submit_form_2(){
        var form = document.getElementById("search-form");
        document.getElementById("form-search").value = "How technology can shape the corporate world of the future";
        form.submit();
    }

    function mostPopular(){
        div = document.getElementById('mostPopularArticles');
        return fetch("/api/most-popular", {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            }
          }).then(function(res) {
            return res.json();
          }).then(function(data) {
            div.innerHTML = data.status;
          });
    }

</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "In Wait of Tomorrow",
    "url": "https://inwaitoftomorrow.appspot.com/",
    "address": "The future",
    "sameAs": [
      "https://www.instagram.com/inwaitoftomorrow/",
      "https://twitter.com/InWaitofTomorr1",
      "https://www.facebook.com/inwaitoftomorrow/",
      "https://www.facebook.com/AISoc.ucl/",
      "https://medium.com/@dlad82434",
      "https://www.reddit.com/user/inwaitoftomorrow",
      "https://inwaitoftomorrow.com/",
      "https://www.pinterest.co.uk/dlad82434/",
      "https://www.youtube.com/channel/UCiExUJ3xlv-GngQ8rbBocCQ"
    ]
  }
</script>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "In Wait of Tomorrow",
        "url": "https://inwaitoftomorrow.appspot.com/",
        "address": "The future",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://inwaitoftomorrow.appspot.com/search/{search_term_string}",
            "query-input": "required name=search_term_string"
        },
        "sameAs": [
          "https://www.instagram.com/inwaitoftomorrow/",
          "https://twitter.com/InWaitofTomorr1",
          "https://www.facebook.com/inwaitoftomorrow/",
          "https://www.facebook.com/AISoc.ucl/",
          "https://medium.com/@dlad82434",
          "https://www.reddit.com/user/inwaitoftomorrow",
          "https://inwaitoftomorrow.com/",
          "https://www.pinterest.co.uk/dlad82434/",
          "https://www.youtube.com/channel/UCiExUJ3xlv-GngQ8rbBocCQ"
        ]
    }
</script>
</body>
</html>