<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159574205-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta property="og:description" content="We write futurology - analysis of current trends to predict what the future might be like"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="Who knows what the future might look like"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="http://inwaitoftomorrow.appspot.com/"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="The latest in tech, science and more, In Wait of Tomorrow is futurology - we analyse how advancements may affect our future. Follow @inwaitoftomorrow on Instagram."/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <title>Shop Cart</title>
</head>
<body>
<script
    src="https://www.paypal.com/sdk/js?client-id=AX1xZ5LS2EKdjzXGX5s9pqscRnp_HXF_DYoUarP40589iY4891E4bGL0OwllD8JSBwEQ6AWgkBDPvs5A">
</script>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="text-center m-auto p-5 font-weight-normal" style="max-width: 600px">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
{% endwith %}
<div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
          <a href="{{ url_for('main.show_blog') }}">Latest articles</a>
          <div class="dropdown-divider text-center align-self-center m-auto" style="max-width: 600px"></div>
          {% for category in categories %}
            {% if category.category_name != "Blog" %}
                <a href="{{ url_for('main.show_blog_category', category=category.category_name) }}">{{ category.category_name }}</a>
            {% endif %}
          {% endfor %}
      </div>
  </div>
<div class="container-fluid">
<div class="container-fluid" id="navigation">
    <div id="nav_one" style="display: block" class="row">
        <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
        <div class="col-12">
            <nav class="navbar navbar-dark fixed-top bg-transparent" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                    <a id="home_link" href="{{url_for('main.index')}}"><span class="navbar-brand text-dark navbar-dark mb-0 h1 font-weight-normal">In Wait of Tomorrow</span></a>
                    <a href="{{ url_for('shop.shop_cart') }}" class="text-dark"><i style="border: none" class="fas fa-shopping-cart"></i></a>
            </nav>
        </div>
    </div>
<div class="text-center row m-auto pb-3" style="max-width: 600px">
    <h1 class="pt-5 font-weight-light w-100 m-auto">You have {{ counter }} item(s) in the basket</h1>
    <h3 class="font-weight-normal w-100 pb-5 m-auto">Total: £{{ final_cost }}</h3>
    <div class="text-center w-100 m-auto" id="paypal-button"></div>
</div>
<div class="row m-auto w-100" style="max-width: 600px">
    {% if counter != 0 %}
            {% for cart_item in range(counter) %}
                <div class="card mb-3 rounded-0" style="width: 100%">
                    <div class="hovereffect">
                        <picture>
                            <source style="max-width: 600px; height: auto" class="card-img-top img-fluid" srcset="../static/img/iot-small.webp" type="image/webp">
                            <img class="card-img-top img-fluid" src="../static/img/iot-small.jpg" alt="Item" style="max-width: 600px; height: auto">
                        </picture>
                        </div>
                    </div>
                  <div class="card-body text-center">
                      <h6 class="card-subtitle mb-2 text-muted font-weight-normal ml-0">Quantity: {{ quantities[cart_item] }}</h6>
                      <p class="card-text mb-2 ml-0" itemprop="name">{{ items[cart_item] }}</p>
                      <p class="card-subtitle mb-2 text-muted font-weight-normal ml-0">Size: {{ sizes[cart_item] }}, Colour: {{ colours[cart_item] }}, Price: £{{ prices[cart_item] }}</p>
                  </div>
            {% endfor %}
        {% else %}
            <h1 class="font-weight-normal display-1 text-center w-100">You have no items in your cart</h1>
{% endif %}
        </div>

    <div class="text-center w-100 pb-5 m-auto" style="max-width: 600px">
        <a href="{{ url_for('shop.empty_basket') }}" class="w-100">Empty basket</a><br>
        <a href="{{ url_for('shop.shop') }}" class="text-dark w-100"><i class="fas fa-arrow-left" style="border: none"></i> RETURN TO SHOP</a>
    </div>

</div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var CREATE_PAYMENT_URL  = 'https://inwaitoftomorrow.appspot.com/shop/payment';
    var EXECUTE_PAYMENT_URL = 'https://inwaitoftomorrow.appspot.com/shop/execute';

    paypal.Button.render({


        commit: true, // Show a 'Pay Now' button

        payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(res) {

                console.log(res.success)
                // The payment is complete!
                // You can now show a confirmation message to the customer
                alert('Payment complete! Thanks for shopping with us.')
            });
        }

    }, '#paypal-button');
</script>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }
</script>
</body>
</html>