<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>In Wait of Tomorrow Newsletter</title>
    <style>

        @media screen and (max-width: 600px){

            .flexDiv{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                display: table !important;
                margin: auto !important;
            }

            .flexOne{
                padding: 10px !important;
                text-align: center !important;
                width: 100% !important;;
                max-width: 600px !important;
                display: table-header-group !important;
            }

            .flexOne img{
                width: 100% !important;
                max-width: 600px !important;
                height: auto !important;
            }

            .flexTwo{
                text-align: left !important;
                display: table-footer-group !important;
            }
        }

    </style>
</head>
<body style="font-family: Arial,sans-serif">
        <div id="emailHeader" style="max-width: 600px;margin: auto;background-color: #6e6e6e;">
            <table style="width: 100%">
                <tr>
                    <td id="name" style="width: 80%;padding: 5%;"><h1 style="font-weight: normal;color: white;text-align: left;">In Wait of Tomorrow</h1></td>
                    <td id="logo" style="padding: 5%;"><img src="https://inwaitoftomorrow.appspot.com/static/img/logo.jpeg" alt="In Wait of Tomorrow" style="text-align: right;max-width: 50px;padding: 5%;float: right;"></td>
                </tr>
            </table>
        </div>
        <div id="openingEmail" style="max-width: 600px;margin: auto;">
            <p>Dear {{ fella.name }},</p>
            <p id="openingMessagePrev">{{ opening_message }}</p>
        </div>
        <div id="emailBody" style="max-width: 600px;margin: auto;padding-top: 10px;">

            <table style="padding-bottom: 10px">
                <tr>
                    <td id="mainArticle" style="background-image: url('https://inwaitoftomorrow.appspot.com{{ latest_post.Image_iphone }}');">
                        <div style="min-height: 200px;z-index: 1;overflow: auto;background: rgba(0, 0, 0, 0.7);">
                            <h3 style="color: white;bottom: 0;text-align: right;">{{ latest_post.Title }}</h3>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{ latest_post.Description }} | By {{ latest_post.author }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="readMore" style="background-color: #262626;border-radius: 0;color: white;border: none;padding: 10px;"><a href="{{ latest_post.url_ }}" style="color: white;">READ MORE &rarr;</a></button>
                    </td>
                </tr>
            </table>
            <h2 style="font-weight: bold">In case you missed it</h2>
            <div class="flexDiv" style="display: flex;padding-top: 10px;margin: auto;">
                <div class="flexOne" style="flex-grow: 1;width: 30%;">
                    <img src="https://inwaitoftomorrow.appspot.com{{ second_latest_post.Image_iphone }}" alt="Latest article" style="max-width: 180px;">
                </div>
                <div class="flexTwo" style="flex-grow: 2;width: 65%;">
                    <h3 style="margin-top: 0!important;">{{ second_latest_post.Title }}</h3>
                    <p>{{ second_latest_post.Description }} | By {{ second_latest_post.author }}</p>
                </div>
            </div>
            <div>
                <button class="readMore" style="background-color: #262626;border-radius: 0;color: white;border: none;padding: 10px;"><a href="{{ second_latest_post.url_ }}" style="color: white;">READ MORE &rarr;</a></button>
            </div>
            <div class="flexDiv" style="display: flex;padding-top: 10px;margin: auto;">
                <div class="flexTwo" style="flex-grow: 2;width: 65%;">
                    <h3 style="margin-top: 0!important;">{{ third_latest_post.Title }}</h3>
                    <p>{{ third_latest_post.Description }} | By {{ third_latest_post.author }}</p>
                </div>
                <div class="flexOne" style="flex-grow: 1;width: 30%;">
                    <img src="https://inwaitoftomorrow.appspot.com{{ third_latest_post.Image_iphone }}" alt="Latest article" style="max-width: 180px;">
                </div>
            </div>
            <div>
                <button class="readMore" style="background-color: #262626;border-radius: 0;color: white;border: none;padding: 10px;"><a href="{{ third_latest_post.url_ }}" style="color: white;">READ MORE &rarr;</a></button>
            </div>
        </div>
        <div style="max-width: 600px; margin: auto; padding-top: 10px">
            <p id="closingMessagePrev"></p>
            <p><a href="https://inwaitoftomorrow.appspot.com">In Wait of Tomorrow</a></p>
        </div>
        <div style="text-align: center; background-color: #dddddd; max-width: 600px; margin: auto; padding-top: 5px; padding-bottom: 5px">
            <h3>Don't already follow us?</h3>
            <p>Click here to find us on <a href="https://www.facebook.com/inwaitoftomorrow/">Facebook</a>, <a href="https://www.instagram.com/inwaitoftomorrow/">Instagram</a> and <a href="https://twitter.com/InWaitofTomorr1">Twitter</a> </p>
            <span style="height: 35px; width: 35px; background-image: url('https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512'); background-size: cover; border-radius: 50%"></span>
        </div>

</body>
</html>