{% extends "base.html" %}
{% block title %}In Wait of Tomorrow{% endblock %}
{% block header %}Welcome to our future{% endblock %}
{% block img_src_one %}
 <img class="d-block" style="max-width: 300px" src="../static/img/logo%20-%20Copy.png" alt="First slide">
{% endblock %}
{% block list_of_articles %}
<h2 class="font-weight-bold">Latest articles</h2>
    {% if posts|length %}
<table>
    <tbody>
    {% for post in posts %}
    <tr>
        <td style="padding: 0.75rem">
            <img src="{{ post.post_image }}" style="max-width: 200px">
        </td>
        <td><a class="h2 font-weight-light" href="{{ url_for(post.post_hyperlink) }}" >
                {{ post.post_name }}</a><br>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Sorry, no posts are available at this time</p>
{% endif %}
{% endblock %}
{% block twitter %}
{% endblock %}