{% extends "base.html" %}
{% block title %}Rain Blog{% endblock %}
{% block link_one %}homepage.html{% endblock %}
{% block link_two %}signup.html{% endblock %}
{% block header %}A Rainforest Blog{% endblock %}
{% block main_body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur.
{% endblock %}
{% block right_body %}
    <input aria-label="Search" class="form-control" placeholder="Search city" type="text">
    <input aria-label="Search" class="form-control" placeholder="Search blog" type="text">
    <button class="btn btn-dark" type="button">Search</button>
{% endblock %}