<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159574205-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://inwaitoftomorrow.appspot.com/shop/{% for item in item_on_page %}{{ item.item_id }}{% endfor %}"/>
    <meta property="og:description" content="Fashion for science and technology lovers! Have a look at our latest hoodie designs!"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="Fashion for science and technology lovers! Have a look at our latest hoodie designs!"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="https://inwaitoftomorrow.appspot.com/shop/{% for item in item_on_page %}{{ item.item_id }}{% endfor %}"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com/shop/{% for item in item_on_page %}{{ item.item_id }}{% endfor %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="Fashion for science and technology lovers! Have a look at our latest hoodie designs!"/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <title>{% for item in item_on_page %}{{ item.item_name }}{% endfor %}</title>
</head>
<body style="font-family: 'Pridi', serif;">
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center m-auto font-weight-normal h2" style="max-width: 600px; min-height: 50vh; padding-top: 20vh">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
{{ navigation_page | safe }}
<div class="container-fluid" style="background-image: url('../static/img/annie-spratt-mzpYBn8ebqs-unsplash.jpg'); background-size: cover; min-height: 100vh">
<div class="container-fluid" id="navigation">
            <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
    <div id="nav_one" style="display: block" class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark {% if request.MOBILE %}{% else %}fixed-top{% endif %} bg-transparent" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                    <a id="home_link" href="{{url_for('main.index')}}"><span class="navbar-brand text-dark navbar-dark mb-0 h1 font-weight-normal">In Wait of Tomorrow</span></a>
                    <a href="{{ url_for('shop.shop_cart') }}" class="text-dark"><i style="border: none" class="fas fa-shopping-cart"></i></a>
            </nav>
        </div>
    </div>
<div class="row m-auto text-center pb-3" style="max-width: 600px">
    <h1 class="pt-5 font-weight-normal w-100 m-auto">{% for item in item_on_page %}{{ item.item_name }}{% endfor %}</h1>
    <span class="w-100 h3 font-weight-normal pb-5 m-auto">Item price: £{% for item in item_on_page %}{{ item.price }}{% endfor %}</span><br>
    <div class="hovereffect">
        {% for item in item_on_page %}{{ item.item_photo | safe }}{% endfor %}
    </div>
</div>
<div class="row m-auto w-100 pb-3" style="max-width: 600px">
        {% for item in item_on_page %}{{ item.item_description | safe }}{% endfor %}
</div>
<div class="row m-auto pb-5 bg-transparent" style="max-width: 600px">
        <div class="col-12"></div>
                <form class="user col-12 text-left" method="POST" novalidate>
                    {% from "_formhelpers.html" import render_field %}
                    {{ testshopform.hidden_tag() }}
                    <div class="form-group font-weight-normal">
                        {{ render_field(testshopform.colour, class='form-control form-control-user rounded-0 font-weight-normal', id="colour") }}
                    </div>
                    <div class="form-group font-weight-normal">
                        {{ render_field(testshopform.size, class='form-control form-control-user rounded-0 font-weight-normal', id="size", onchange="stock_check()") }}
                    </div>
                    <div class="form-group font-weight-normal">
                        <p id="statusStock"></p>
                    </div>
                    <div class="form-group">
                        <a href="{{ url_for('shop.enquiry') }}">Your size not available? Click here to let us know and we can order one for you, just put your size in the message</a>
                    </div>
                    <div class="form-group">
                      {{ testshopform.quantity.label }}{{ testshopform.quantity(class_="form-control form-control-user rounded-0")}}
                    </div>
                    <div class="form-group">
                        <a data-toggle="collapse" class="pt-2 pb-2 mb-2" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">Before you proceed, click here to learn how we use cookies for your checkout experience</a>
                        {{ privacy_policy | safe }}
                    </div>
                    {{ testshopform.submit(class_="btn btn-dark btn-user btn-block rounded-0") }}
                </form>
        </div>
</div>
</div>
</div>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }
</script>
<script>
    function stock_check() {
        var itemid = {% for item in item_on_page %}{{ item.item_id | tojson }}{% endfor %}
        var item_number = {% for item in item_on_page %}{{ item.item_number | tojson }}{% endfor %}
        var form_colour = document.getElementById("colour").value
        var form_size = document.getElementById("size").value
        getStatus()


         function getStatus(){
          return fetch("/shop/stock/" + itemid + "/" + item_number + "/" + form_colour + "/" + form_size, {
            method: 'post',
            headers: {
              'content-type': 'application/json'
            }
          }).then(function(res) {
            return res.json();
          }).then(function(data) {
            document.getElementById("statusStock").innerHTML = data.stock_status;
          });
        }

    }
</script>
</body>
</html>