<!DOCTYPE html>
<html lang="en">
<head>
{%  if allow_third_party_cookies == "True" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159574205-1');
    </script>
{% else %}
{% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow Shop"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://inwaitoftomorrow.appspot.com/shop/{% for item in item_on_page %}{{ item.item_id }}{% endfor %}"/>
    <meta property="og:description" content="{% for item in item_on_page %}{{ item.meta_description }}{% endfor %}"/>
    <meta property="og:image" content='{% for item in item_on_page %}{{ item.meta_image }}{% endfor %}'/>
    <meta name="twitter:title" content="In Wait of Tomorrow Shop"/>
    <meta name="twitter:description" content="{% for item in item_on_page %}{{ item.meta_description }}{% endfor %}"/>
    <meta name="twitter:image" content='{% for item in item_on_page %}{{ item.meta_image }}{% endfor %}'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="https://inwaitoftomorrow.appspot.com/shop/{% for item in item_on_page %}{{ item.item_id }}{% endfor %}"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com/shop/{% for item in item_on_page %}{{ item.item_id }}{% endfor %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="{% for item in item_on_page %}{{ item.meta_description }}{% endfor %}"/>
    <meta name="keywords" content="In Wait of Tomorrow, Hoodie, Science Hoodie, Science, {% for item in item_on_page %}{{ item.item_name }}{% endfor %}">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <title>{% for item in item_on_page %}{{ item.item_name }}{% endfor %} - Shop - In Wait of Tomorrow</title>
    {{ data_structure | safe }}
{%  if allow_third_party_cookies == "True" %}
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '363987458380932');
    fbq('track', 'ViewContent');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=363987458380932&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
{% else %}
{% endif %}
</head>
<body style="font-family: 'Pridi', serif;" onload="getStockList()">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="text-center m-auto p-5 font-weight-normal fixed-top" id="flashedmessages" style="max-width: 600px; background-color: #dddddd; z-index: 1031">
                {% for message in messages %}
                    {{ message | safe }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {{ navigation_page | safe }}
    <div class="container-fluid" style="background-image: url('../static/img/annie-spratt-mzpYBn8ebqs-unsplash.jpg'); background-size: cover; min-height: 100vh">
        <div class="container-fluid" id="navigation">
            <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
            <div id="nav_one" style="display: block" class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark {% if request.MOBILE %}{% else %}fixed-top{% endif %} bg-transparent" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                            <a id="home_link" href="{{url_for('shop.shop')}}"><span class="navbar-brand text-dark navbar-dark mb-0 h1 font-weight-normal">Shop Homepage</span></a>
                            <a href="{{ url_for('shop.shop_cart') }}" class="text-dark"><i style="border: none" class="fas fa-shopping-cart"></i></a>
                    </nav>
                </div>
            </div>

            {% if request.MOBILE %}
                <div class="row m-auto text-center pb-1 pt-3" style="max-width: 600px">
                    <div class="hovereffect">
                        {% for item in item_on_page %}{{ item.item_photo | safe }}{% endfor %}
                    </div>
                </div>
                <div class="row m-auto text-center pb-1" style="max-width: 600px">
                    <h1 class="pt-1 font-weight-normal w-100 m-auto text-center">{% for item in item_on_page %}{{ item.item_name }}{% endfor %}</h1>
                    <p class="w-100 h3 font-weight-normal m-auto text-center">Item price: £{% for item in item_on_page %}{{ item.price }}{% endfor %}</p><br>
                    <p class="w-100 font-weight-normal m-auto text-center">{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %} ({{ number_of_reviews }})</p><br>
                    <p class="card-subtitle mb-2 font-weight-normal m-auto text-dark pt-2 pb-1 text-center">FREE UK DELIVERY (limited time only!) <i style="border: none" class="fas fa-truck"></i></p>
                    <div class="row m-auto pb-2 bg-transparent border-top border-dark" style="max-width: 600px">
                        <div class="col-12"></div>
                        <form class="user col-12 text-left" method="POST" novalidate>
                            {% from "_formhelpers.html" import render_field %}
                            {{ testshopform.hidden_tag() }}
                            <div class="form-group font-weight-normal">
                                {{ testshopform.colour.label }}{{ render_field(testshopform.colour, class='form-control form-control-user rounded-0 font-weight-normal', id="colour", onchange="stock_check()") }}
                            </div>
                            <div class="form-group font-weight-normal">
                                {{ testshopform.size.label }}{{ render_field(testshopform.size, class='form-control form-control-user rounded-0 font-weight-normal', id="size", onchange="stock_check()") }}
                            </div>
                            <div class="form-group font-weight-normal">
                                <p id="statusStock"></p>
                            </div>
                            <div class="form-group">
                                <a href="{{ url_for('shop.enquiry') }}">Your size not available? Click here to let us know and we can order one for you, just put your size in the message</a>
                            </div>
                            <div class="form-group">
                            {{ testshopform.quantity.label }}{{ testshopform.quantity(class_="form-control form-control-user rounded-0")}}
                            </div>
                            <div class="form-group">
                                <a data-toggle="collapse" class="pt-2 pb-2 mb-2" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">Before you proceed, click here to learn how we use cookies for your checkout experience</a>
                                {{ privacy_policy | safe }}
                            </div>
                            {{ render_field(testshopform.submit, class="btn btn-dark btn-user btn-block rounded-0", id="submitButton", value="ADD TO CART", onclick="facebookTrack()") }}
                        </form>
                    </div>
                    <div class="row m-auto w-100 pb-3 pt-2 border-dark border-top" style="max-width: 600px">
                        <h4 class="font-weight-normal">PRODUCT DESCRIPTION AND CARE</h4>
                        {% for item in item_on_page %}{{ item.item_description | safe }}{% endfor %}
                    </div>
                    <div class="row m-auto w-100 pb-3 pt-2 border-dark border-top" style="max-width: 600px">
                        <h4 class="font-weight-normal">CUSTOMER REVIEWS</h4>
                        {% if reviews|length %}
                            <div class="border border-dark p-1 mb-3 row w-100 m-auto" style="border-width: 5px !important;">
                                <p>{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}</p>
                                <h6 class="font-weight-bold">{{ average_rating }} OUT OF 5</h6>
                                <p>{{ number_of_reviews }} REVIEWS</p>
                                {% for item in item_on_page %}
                                    <a href="{{ url_for('shop.item_review', id=item.item_id) }}" class="ml-2">LEAVE A COMMENT</a>
                                {% endfor %}
                            </div>
                            {% for review in reviews %}
                                <div class="card w-100 mb-2 rounded-0">
                                    <div class="card-header text-right">
                                        {% for number in range(review.stars) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}
                                    </div>
                                    <div class="card-body">
                                        <table>
                                            <tr class="col-12">
                                                <td class="text-primary font-weight-bold" style="max-width: 30%">{{ review.name }}</td>
                                                <td class="font-weight-normal pl-3">{{ review.review }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-muted text-right">{{ review.date }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>There are no comments, use the form above to leave one and sign up for our newsletter</p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="row m-auto pb-3 pt-5" style="max-width: 1200px; min-height: 100vh">
                    <div class="col-6">
                        <div class="hovereffect" style="padding-top: 10vh">
                            {% for item in item_on_page %}{{ item.item_photo | safe }}{% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <h1 class="pt-5 font-weight-normal w-100 m-auto text-center">{% for item in item_on_page %}{{ item.item_name }}{% endfor %}</h1>
                        <p class="w-100 h3 font-weight-normal m-auto text-center">Item price: £{% for item in item_on_page %}{{ item.price }}{% endfor %}</p><br>
                        <p class="w-100 font-weight-normal m-auto text-center">{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %} ({{ number_of_reviews }})</p><br>
                        <p class="card-subtitle mb-2 font-weight-normal m-auto text-dark pt-2 pb-5 text-center">FREE UK DELIVERY (limited time only!) <i style="border: none" class="fas fa-truck"></i></p>
                        <div class="pb-3 bg-transparent border-bottom border-dark">
                            <div class="col-12"></div>
                            <form class="user col-12 text-left" method="POST" novalidate>
                                {% from "_formhelpers.html" import render_field %}
                                {{ testshopform.hidden_tag() }}
                                <div class="form-group font-weight-normal">
                                    {{ testshopform.colour.label }}{{ render_field(testshopform.colour, class='form-control form-control-user rounded-0 font-weight-normal', id="colour", onchange="stock_check()") }}
                                </div>
                                <div class="form-group font-weight-normal">
                                    {{ testshopform.size.label }}{{ render_field(testshopform.size, class='form-control form-control-user rounded-0 font-weight-normal', id="size", onchange="stock_check()") }}
                                </div>
                                <div class="form-group font-weight-normal">
                                    <p id="statusStock"></p>
                                </div>
                                <div class="form-group">
                                    <a href="{{ url_for('shop.enquiry') }}">Your size not available? Click here to let us know and we can order one for you, just put your size in the message</a>
                                </div>
                                <div class="form-group">
                                {{ testshopform.quantity.label }}{{ testshopform.quantity(class_="form-control form-control-user rounded-0")}}
                                </div>
                                <div class="form-group">
                                    <a data-toggle="collapse" class="pt-2 pb-2 mb-2" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">Before you proceed, click here to learn how we use cookies for your checkout experience</a>
                                    {{ privacy_policy | safe }}
                                </div>
                                {{ render_field(testshopform.submit, class="btn btn-dark btn-user btn-block rounded-0", id="submitButton", value="ADD TO CART", onclick="facebookTrack()") }}
                            </form>
                        </div>
                        <div class="w-100 m-auto pb-3 pt-2">
                            <h4 class="font-weight-normal">PRODUCT DESCRIPTION AND CARE</h4>
                            {% for item in item_on_page %}{{ item.item_description | safe }}{% endfor %}
                        </div>
                        <div class="w-100 m-auto pb-3 pt-2" style="max-width: 600px">
                            <h4 class="font-weight-normal">CUSTOMER REVIEWS</h4>
                            {% if reviews|length %}
                                <div class="border border-dark p-1 mb-3" style="border-width: 5px !important;">
                                    <p>{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}</p>
                                    <h6 class="font-weight-bold">{{ average_rating }} OUT OF 5</h6>
                                    <p>{{ number_of_reviews }} REVIEWS</p>
                                    {% for item in item_on_page %}
                                        <a href="{{ url_for('shop.item_review', id=item.item_id) }}" class="ml-2">LEAVE A COMMENT</a>
                                    {% endfor %}
                                </div>
                                {% for review in reviews %}
                                    <div class="card w-100 mb-2 rounded-0">
                                        <div class="card-header text-right">
                                            {% for number in range(review.stars) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}
                                        </div>
                                        <div class="card-body">
                                            <table>
                                                <tr class="col-12">
                                                    <td class="text-primary font-weight-bold" style="max-width: 30%">{{ review.name }}</td>
                                                    <td class="font-weight-normal pl-3">{{ review.review }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="card-footer">
                                            <p class="text-muted text-right">{{ review.date }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>There are no comments, use the form above to leave one and sign up for our newsletter</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>







<!--test

{% if request.MOBILE %}{% else %}<div class="row m-auto pb-3 pt-5" style="max-width: 1200px; min-height: 100vh">{% endif %}
<div {% if request.MOBILE %}class="row m-auto text-center pb-1 pt-3" style="max-width: 600px"{% else %}class="col-6"{% endif %}>
    <div class="hovereffect" {% if request.MOBILE %}{% else %}style="padding-top: 10vh"{% endif %}>
        {% for item in item_on_page %}{{ item.item_photo | safe }}{% endfor %}
    </div>
</div>

<div {% if request.MOBILE %}class="row m-auto text-center pb-1" style="max-width: 600px"{% else %}class="col-6"{% endif %}>
    
    <h1 class="{% if request.MOBILE %}pt-1{% else %}pt-5{% endif %} font-weight-normal w-100 m-auto text-center">{% for item in item_on_page %}{{ item.item_name }}{% endfor %}</h1>
    <p class="w-100 h3 font-weight-normal m-auto text-center">Item price: £{% for item in item_on_page %}{{ item.price }}{% endfor %}</p><br>
    <p class="w-100 font-weight-normal m-auto text-center">{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %} ({{ number_of_reviews }})</p><br>
    <p class="card-subtitle mb-2 font-weight-normal m-auto text-dark pt-2 {% if request.MOBILE %}pb-1{% else %}pb-5{% endif %} text-center">FREE UK DELIVERY (limited time only!) <i style="border: none" class="fas fa-truck"></i></p>
    {% if request.MOBILE %}{% else %}
        <div class="pb-3 bg-transparent border-bottom border-dark">
        <div class="col-12"></div>
                <form class="user col-12 text-left" method="POST" novalidate>
                    {% from "_formhelpers.html" import render_field %}
                    {{ testshopform.hidden_tag() }}
                    <div class="form-group font-weight-normal">
                        {{ testshopform.colour.label }}{{ render_field(testshopform.colour, class='form-control form-control-user rounded-0 font-weight-normal', id="colour", onchange="stock_check()") }}
                    </div>
                    <div class="form-group font-weight-normal">
                        {{ testshopform.size.label }}{{ render_field(testshopform.size, class='form-control form-control-user rounded-0 font-weight-normal', id="size", onchange="stock_check()") }}
                    </div>
                    <div class="form-group font-weight-normal">
                        <p id="statusStock"></p>
                    </div>
                    <div class="form-group">
                        <a href="{{ url_for('shop.enquiry') }}">Your size not available? Click here to let us know and we can order one for you, just put your size in the message</a>
                    </div>
                    <div class="form-group">
                      {{ testshopform.quantity.label }}{{ testshopform.quantity(class_="form-control form-control-user rounded-0")}}
                    </div>
                    <div class="form-group">
                        <a data-toggle="collapse" class="pt-2 pb-2 mb-2" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">Before you proceed, click here to learn how we use cookies for your checkout experience</a>
                        {{ privacy_policy | safe }}
                    </div>
                    {{ render_field(testshopform.submit, class="btn btn-dark btn-user btn-block rounded-0", id="submitButton", value="ADD TO CART", onclick="facebookTrack()") }}
                </form>
        </div>
        <div class="w-100 m-auto pb-3 pt-2">
        <h4 class="font-weight-normal">PRODUCT DESCRIPTION AND CARE</h4>
                {% for item in item_on_page %}{{ item.item_description | safe }}{% endfor %}
        </div>
        <div class="w-100 m-auto pb-3 pt-2" style="max-width: 600px">
            <h4 class="font-weight-normal">CUSTOMER REVIEWS</h4>
            {% if reviews|length %}
                <div class="border border-dark p-1 mb-3" style="border-width: 5px !important;">
                    <p>{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}</p>
                    <h6 class="font-weight-bold">{{ average_rating }} OUT OF 5</h6>
                    <p>{{ number_of_reviews }} REVIEWS</p>
                    {% for item in item_on_page %}
                        <a href="{{ url_for('shop.item_review', id=item.item_id) }}" class="ml-2">LEAVE A COMMENT</a>
                    {% endfor %}
                </div>
                {% for review in reviews %}
                    <div class="card w-100 mb-2 rounded-0">
                        <div class="card-header text-right">
                            {% for number in range(review.stars) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}
                        </div>
                        <div class="card-body">
                            <table>
                                <tr class="col-12">
                                    <td class="text-primary font-weight-bold" style="max-width: 30%">{{ review.name }}</td>
                                    <td class="font-weight-normal pl-3">{{ review.review }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted text-right">{{ review.date }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no comments, use the form above to leave one and sign up for our newsletter</p>
            {% endif %}

</div>
    {% endif %}
</div>
{% if request.MOBILE %}
    <div class="row m-auto pb-2 bg-transparent border-top border-dark" style="max-width: 600px">
        <div class="col-12"></div>
                <form class="user col-12 text-left" method="POST" novalidate>
                    {% from "_formhelpers.html" import render_field %}
                    {{ testshopform.hidden_tag() }}
                    <div class="form-group font-weight-normal">
                        {{ testshopform.colour.label }}{{ render_field(testshopform.colour, class='form-control form-control-user rounded-0 font-weight-normal', id="colour", onchange="stock_check()") }}
                    </div>
                    <div class="form-group font-weight-normal">
                        {{ testshopform.size.label }}{{ render_field(testshopform.size, class='form-control form-control-user rounded-0 font-weight-normal', id="size", onchange="stock_check()") }}
                    </div>
                    <div class="form-group font-weight-normal">
                        <p id="statusStock"></p>
                    </div>
                    <div class="form-group">
                        <a href="{{ url_for('shop.enquiry') }}">Your size not available? Click here to let us know and we can order one for you, just put your size in the message</a>
                    </div>
                    <div class="form-group">
                      {{ testshopform.quantity.label }}{{ testshopform.quantity(class_="form-control form-control-user rounded-0")}}
                    </div>
                    <div class="form-group">
                        <a data-toggle="collapse" class="pt-2 pb-2 mb-2" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">Before you proceed, click here to learn how we use cookies for your checkout experience</a>
                        {{ privacy_policy | safe }}
                    </div>
                    {{ render_field(testshopform.submit, class="btn btn-dark btn-user btn-block rounded-0", id="submitButton", value="ADD TO CART", onclick="facebookTrack()") }}
                </form>
        </div>
<div class="row m-auto w-100 pb-3 pt-2 border-dark border-top" style="max-width: 600px">
<h4 class="font-weight-normal">PRODUCT DESCRIPTION AND CARE</h4>
        {% for item in item_on_page %}{{ item.item_description | safe }}{% endfor %}
</div>
<div class="row m-auto w-100 pb-3 pt-2 border-dark border-top" style="max-width: 600px">
    <h4 class="font-weight-normal">CUSTOMER REVIEWS</h4>
    {% if reviews|length %}
        <div class="border border-dark p-1 mb-3 row w-100 m-auto" style="border-width: 5px !important;">
            <p>{% for number in range(average_rating) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}</p>
            <h6 class="font-weight-bold">{{ average_rating }} OUT OF 5</h6>
            <p>{{ number_of_reviews }} REVIEWS</p>
            {% for item in item_on_page %}
                <a href="{{ url_for('shop.item_review', id=item.item_id) }}" class="ml-2">LEAVE A COMMENT</a>
            {% endfor %}
        </div>
        {% for review in reviews %}
            <div class="card w-100 mb-2 rounded-0">
                <div class="card-header text-right">
                    {% for number in range(review.stars) %}<i class="fas fa-star" style="border: none"></i>{% endfor %}
                </div>
                <div class="card-body">
                    <table>
                        <tr class="col-12">
                            <td class="text-primary font-weight-bold" style="max-width: 30%">{{ review.name }}</td>
                            <td class="font-weight-normal pl-3">{{ review.review }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <p class="text-muted text-right">{{ review.date }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no comments, use the form above to leave one and sign up for our newsletter</p>
    {% endif %}

</div>

{% else %}{% endif %}
{% if request.MOBILE %}{% else %}</div>{% endif %}
</div>
</div>
</div>
-->
    <div class= "row col-12 justify-content-center w-100 text-center m-auto" style="max-width: 800px" id="aboutUs">
        <img src="../static/img/logo.webp" style="max-height: 200px" alt="In Wait of Tomorrow">
    </div>
    <div class="row col-12 m-auto justify-content-center text-center text-dark w-100" style="max-width: 800px">
        <a href="https://www.facebook.com/inwaitoftomorrow/" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/inwaitoftomorrow/" class="fa fa-twitter"></a>
        <a href="https://twitter.com/InWaitofTomorr1" class="fa fa-instagram"></a>
        <a href="https://www.reddit.com/user/inwaitoftomorrow" class="fa fa-reddit"></a>
    </div>
    <div class="p-3 row container-fluid m-auto w-100" style="max-width: 600px" itemscope itemtype="https://schema.org/AboutPage">
        <h4 class="col-12 h4 font-weight-normal text-dark text-left">About our shop</h4>
        <p class="col-12 font-weight-normal text-dark text-left">Our designs fuse fashion with science and technology like never before. Our hoodies are fashionable and comfortable, with artwork guaranteed to make you think and ask questions.</p>
        <p class="col-12 font-weight-normal text-dark text-left">For any questions or issues, please email us at <a href="mailto:info@inwaitoftomorrow.com">info@inwaitoftomorrow.com</a></p>
    </div>
    {{ footer| safe }}
<script type="text/javascript">
  function facebookTrack() {
      fbq('track', 'AddToCart',
          // begin required parameter object
          {
            value: 22.99,
            currency: 'GBP',
            content_type: 'product', // required property
            content_ids: '1' // required property, if not using 'contents' property
          }
          // end required parameter object
        );
      }
</script>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }

</script>
<script>

    let stocks_list = [];
    const itemObject = JSON.parse({{ json_insert | tojson }})

    function getStockList(){
        return fetch("/api/stock-check/", {
            method: 'post',
            headers: {
                'content-type': 'application/json'
            }
        }).then(function(res){
            return res.json();
        }).then(function(data){
            stocks_list = data.status;
        })
    }

    function stock_check() {
        var chosenColour = document.getElementById("colour").value;
        var chosenSize = document.getElementById("size").value;
        if (chosenColour === "Please select" || chosenSize == "Please select") return
        let chosenItem = {}
        for (let item of stocks_list) if (item["Size"]===chosenSize && item["Colour"]===chosenColour) chosenItem = item; 
        let stock_alert = "In stock"
        if (Number(chosenItem["stock"]) === 0) stock_alert = "Unfortunately, this item is OUT OF STOCK in this size, please enquire below if you'd like one so that we know"
        else if (Number(chosenItem["stock"]) === 1) stock_alert = "Only 1 left in stock"
        document.getElementById("statusStock").innerHTML = stock_alert;
        // var itemid = {% for item in item_on_page %}{{ item.item_id | tojson }}{% endfor %}
        // var item_number = {% for item in item_on_page %}{{ item.item_number | tojson }}{% endfor %}
        // var form_colour = document.getElementById("colour").value
        // var form_size = document.getElementById("size").value
        // getStatus()


        //  function getStatus(){
        //   return fetch("/shop/stock/" + itemid + "/" + item_number + "/" + form_colour + "/" + form_size, {
        //     method: 'post',
        //     headers: {
        //       'content-type': 'application/json'
        //     }
        //   }).then(function(res) {
        //     return res.json();
        //   }).then(function(data) {
        //     document.getElementById("statusStock").innerHTML = data.stock_status;
        //   });
        // }
        

    }
</script>
</body>
</html>