<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
    </head>
    <body>
        <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content mt-0">
                  <a href="{{ url_for('main.show_blog') }}">Latest articles</a>
                    <a href="{{ url_for('shop.shop') }}">SHOP</a>
                  <div class="dropdown-divider text-center align-self-center m-auto" style="max-width: 600px"></div>
                  {% for category in categories %}
                    {% if category.category_name != "Blog" %}
                        <a href="{{ url_for('main.show_blog_category', category=category.category_name) }}">{{ category.category_name }}</a>
                    {% endif %}
                  {% endfor %}
              </div>
        </div>
    </body>
</html>