{% extends "base.html" %}
{% block list_of_articles %}
    <div class="row m-auto" style="max-width: 800px">
        <div class="col-12">
                <form class="user" method="POST" action="{{ url_for('main.authenticate_user') }}" novalidate>
                    {% from "_formhelpers.html" import render_field %}
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token}}
                    <div class="form-group">
                      {{ form.otp_code.label }}{{ render_field(form.otp_code, class='form-control rounded-0 form-control-user') }}
                    </div>

                    <!-- LOGIN BUTTON -->
                    <input type=submit value='Login' class='btn btn-dark btn-user btn-block rounded-0'>
                    <hr>
                </form>
        </div>
    </div>
{% endblock %}