<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
    </head>
    <body>
        <div class="m-auto font-weight-normal collapse text-left pt-5" id="collapseSearch" style="max-width: 600px">
            <p>Dear users and customers, </p>
            <p>You can contact us at any time regarding your data via email at inwaitoftomorrow@gmail.com. </p>
            <p>Our privacy policy describes how the data and information supplied by you is managed and compliant with the General Data Protection Regulation / GDPR and Data Protection Act 18. </p>

            <p><strong>The type of information we have and why we have it</strong></p>
            <p>Your name and email address is only collected when you send an enquiry or sign up to our newsletter. We collect the same information, plus your mobile number and address, when you make a purchase. We do not collect any financial details. </p>

            <p><strong>How we get the information and why we have it</strong></p>
            <p>When you sign up to our newsletter, leave an enquiry or comment on an article, the details you entered on the form are sent to us via a secure email.</p>
            <p>Our checkout process is powered by PayPal and so, when you make a purchase, all of the data you entered is handled via PayPal.</p>

            <p><strong>What we do with the information</strong></p>
            <p>When you sign up for our newsletter, we use your name and email address to send our marketing content. You can unsubscribe at any time by emailing inwaitoftomorrow@gmail.com saying ‘unsubscribe’. When you comment on an article, we will display your name and feedback on the site if you allow us to. When you leave an enquiry, we use your name and email to reply to you with the relevant information</p>
            <p>When you make a purchase, your address, name, email and phone number are used only for delivery purposes. They are not stored. </p>
            <p>None of your data is sent or shared with third parties with the exception of PayPal to process an order you make. We are confident in every respect that your data is processed securely in line with all applicable regulations. PayPal terms and conditions can be accessed via the ‘What is PayPal’ link during the booking process.</p>

            <p><strong>How we store your data</strong></p>
            <p>We store your name and email address securely on the site when you sign up for our newsletter. The site is hosted by Google App Engine and we are confident in the security of their servers. This is the only instance that we store your data on our website. When you sign up for our newsletter or send an enquiry, your details are sent to us via email, and so do remain in our email inbox.</p>

            <p><strong>Your rights</strong></p>
            <p>Under data protection law you have rights including: </p>
            <ul>
                <li>Be informed – you have the right to be informed about the processing</li>
                <li>Access - you have the right to request copies of your personal information</li>
                <li>Rectification – you have the right to have inaccuracies corrected </li>
                <li>Erasure – you have the right to have information erased (right to be forgotten) </li>
                <li>Restrict processing - you have the right to ask us to restrict processing of your information</li>
                <li>Prevent automated decision- making and profiling</li>
                <li>Data portability – you have the right to request that we transfer the information you provided to another organisation or yourself in certain circumstances </li>
                <li>Object to processing – you have the right to object processing in certain circumstances </li>
            </ul>
            <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you. </p>

            <p><strong>Cookies</strong></p>
            <p>Our website uses cookies to help us provide you with the best experience from our website. It allows us to monitor and continuously improve our website for you. In general cookies are used to retain user preferences, store information for things like shopping baskets, and provide anonymised tracking data to third party applications like google analytics. For this purpose, these cookies are saved on your hard drive. If you wish to remove these cookies, you can do this at any time by adjusting the settings via your browser. These cookies typically expire after 30 days. You can view google analytics privacy policy <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">here</a> . </p>
            <p><em>These cookies do not contain any personal information.</em>
            <p>We do not use cookies to: </p>
            <ul>
                <li>Collect any personally identifiable information</li>
                <li>Collect any sensitive information </li>
                <li>Pass data to any third party</li>
            </ul>

            <p><strong>Changes to our Privacy Policy</strong></p>
            <p>We reserve the right to make changes to our privacy policy to ensure we are compliant with any changes to regulation and law. If we do this, we will update our policy on here and notify you via email. </p>
            <p>Your privacy is our utmost concern.</p>

            <p><strong>Terms and Conditions (Refunds and returns)</strong></p>
            <p>You may request a refund within 7 days of purchase by emailing inwaitoftomorrow@gmail.com with the subject 'Refund', but only if your item is damaged. You will need to provide photographic proof of the damage.</p>
            <p>We only accept returns if we have, by mistake, sent you the wrong item/size. We will issue a full refund once we receive the item. Please email us inwaitoftomorrow@gmail.com with the subject 'Return'.</p>
        </div>
    </body>
</html>