<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
    </head>
    <body>
        <div class="m-auto font-weight-normal collapse" id="collapseSearch" style="max-width: 600px">
            <p>Dear users and customers, </p>
            <p>Your personal data and information is used only for checkout and delivery purposes, or for our email newsletter if you have chosen to sign up.</p>
            <p>Our checkout process is powered by PayPal and so all of your data is handled via PayPal. There is no other third party with access to your data, and your data is not shared.</p>
            <p>We also only use cookies to update your shopping cart and we do not store or share any data from your cookies. Without cookies, we cannot process your checkout.</p>
            <p> Your privacy is our utmost concern.</p>
        </div>
    </body>
</html>