<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574205-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159574205-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="In Wait of Tomorrow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://inwaitoftomorrow.appspot.com/shop"/>
    <meta property="og:description" content="Fashion for science and technology lovers!"/>
    <meta property="og:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:title" content="In Wait of Tomorrow"/>
    <meta name="twitter:description" content="Fashion for science and technology lovers!"/>
    <meta name="twitter:image" content='http://inwaitoftomorrow.appspot.com/static/img/logo.jpeg'/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="https://inwaitoftomorrow.appspot.com/shop"/>
    <meta name="google-site-verification" content="FXf4fXXrRB8YqX75YWs6DQXLlE3r_CWleoGSjxGSa5s" />
    <script src="../static/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap-4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrapnew.min.css">
    <link rel="stylesheet" href="../static/css/hovering.min.css">

    <link rel="stylesheet" href="../static/css/newnav.min.css">
    <link rel="canonical" href="https://inwaitoftomorrow.appspot.com/shop">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="../static/css/title.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/favico.ico">
    <meta name="description" content="Fashion for science and technology lovers! Have a look at our latest hoodie designs!"/>
    <meta name="keywords" content="inwaitoftomorrow, In Wait of Tomorrow, futurology, Technology, Science, Healthcare, Environment">
    <meta name="author" content="inwaitoftomorrow">
    <meta name="robots" content="index, follow">
    <title>Shop</title>
</head>
<body style="font-family: 'Pridi', serif;">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="text-center m-auto p-5 font-weight-normal" style="max-width: 600px">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
{% endwith %}
{{ navigation_page | safe }}
<div id="middle" class="container-fluid mainimage h-100 w-100" style="{% if request.MOBILE %}background-image:url('../static/img/mahdi-soheili-m-jJ4wLjoIc-unsplash.jpg'){% else %}background-image:url('../static/img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg'){% endif %}; background-size: cover; min-height: 100vh">
<div class="container-fluid h-75" id="navigation">
            <script src="https://kit.fontawesome.com/7380e39ab3.js" crossorigin="anonymous"></script>
    <div id="nav_one" style="display: block" class="row" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <div class="col-12">
            <nav class="navbar navbar-dark bg-transparent {% if request.MOBILE %}text-dark{% else %}text-white{% endif %}" style="width: 100%" itemscope itemtype="https://schema.org/SiteNavigationElement">
                    <a id="home_link" href="{{url_for('main.index')}}"><span class="navbar-brand {% if request.MOBILE %}text-dark{% else %}text-white{% endif %} navbar-dark mb-0 h1 font-weight-normal">Home</span></a>
                    <a href="{{ url_for('shop.shop_cart') }}" class="{% if request.MOBILE %}text-dark{% else %}text-white{% endif %}"><i style="border: none" class="fas fa-shopping-cart"></i></a>
            </nav>
        </div>
    </div>
<div class="{% if request.MOBILE %}text-center{% else %}float-left{% endif %} m-auto row w-100" style="max-width: 800px; padding-top: 20vh;">
    <h1 class="font-weight-normal {% if request.MOBILE %}text-dark m-auto{% else %}text-white display-2{% endif %}" {% if request.MOBILE %}{% else %}style="font-min-size: 20vh;"{% endif %}>Welcome to the In Wait of Tomorrow shop</h1>
    <span class="font-weight-normal w-100 {% if request.MOBILE %}text-dark m-auto font-weight-bold pt-2 pb-2{% else %}text-white ml-3{% endif %}">Our collection is inspired by science, technology and the future.</span><span class="font-weight-normal w-100 {% if request.MOBILE %}text-dark m-auto font-weight-bold{% else %}text-white ml-3{% endif %}">We believe you should be too.</span>
    <a href="#collection" class="{% if request.MOBILE %}text-dark text-center m-auto border-dark pb-2{% else %}text-white ml-3 border-white{% endif %} btn rounded-0 bg-transparent h3 mt-3" style="border-width: medium">VIEW OUR COLLECTION</a>
</div>
</div>
</div>
<div class="container-fluid text-center w-100" id="collection" style="min-height: 100vh; background-image: url('../static/img/annie-spratt-mzpYBn8ebqs-unsplash.jpg'); background-size: cover">
            {% for item in items %}
                <div class="card mb-3 rounded-0 ml-auto mr-auto pt-5" style="max-width: 600px; border: none; background: transparent">
                    <div class="hovereffect">
                        {{ item.item_photo | safe }}
                    </div>
                  <div class="card-body text-center m-auto" style="max-width: 600px;">
                      <a href="{{ url_for('shop.shop_item', id=item.item_id) }}"><p class="card-text mb-2 h3 font-weight-normal h1 {% if request.MOBILE %}{% else %}display-3{% endif %} text-dark" itemprop="name">{{ item.item_name }}</p></a>
                      <p class="card-subtitle mb-2 font-weight-normal m-auto h3 text-dark">Price: £{{ item.price }}</p>
                      <p class="card-subtitle mb-2 font-weight-normal m-auto text-dark pt-2 pb-2">FREE UK DELIVERY <i style="border: none" class="fas fa-truck"></i></p>
                      <a href="{{ url_for('shop.shop_item', id=item.item_id) }}"><p class="h5 m-auto font-weight-normal pt-2">Add item to cart</p></a>
                  </div>
            {% endfor %}
        </div>
<footer class="text-center p-5" style="background-color: #dddddd">
        <p>Made in Leicestershire, with love from London.</p>
        <p class="text-muted">&copy; 2020 In Wait of Tomorrow</p>
    </footer>
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
      document.getElementById("cards").style.visibility = "hidden"
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("cards").style.visibility = "visible"
    }
</script>
</body>
</html>