{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block header %}A Rainforest Blog{% endblock %}
{% block main_body %}
    {% if form.errors %}
        <p><strong>The form contains errors:</strong>
        <ul>
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }}<br>{{ form.name(size=32) }}</p>
        <p>{{ form.email.label }}<br>{{ form.email(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
{% block right_body %}
    <input aria-label="Search" class="form-control" placeholder="Search city" type="text">
    <input aria-label="Search" class="form-control" placeholder="Search blog" type="text">
    <button class="btn btn-dark" type="button">Search</button>
{% endblock %}