{% extends "base.html" %}
{% block list_of_articles %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center m-auto p-5 font-weight-normal" style="max-width: 600px">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
    {% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in field_errors %}
                    {{ form[field_name].label }}: {{ error }}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row m-auto pt-5" style="max-width: 1200px">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            {% from "_formhelpers.html" import render_field %}
            <div class="form-group font-weight-normal">
                {{ render_field(form.specific_message_one, class="form-control form-control-user rounded-0", id='OpeningMessage', spellcheck="True", onchange="previewNewsletter()") }}
            </div>
            <div class="form-group font-weight-normal">
                {{ render_field(form.specific_message_two, class="form-control form-control-user rounded-0", spellcheck="True", id="ClosingMessage", onchange="previewNewsletter()")}}
            </div>
            <div class="form-group font-weight-normal">
                {{ render_field(form.authenticate, class="form-control form-control-user rounded-0", spellcheck="True")}}
            </div>
            {{ form.Submit(class_="btn btn-dark rounded-0 btn-user btn-block col-sm-12") }}
        </form>
    </div>
    <br>
    <div id="preview">
        <div style="max-width: 600px; margin: auto; height: 30%; background-color: #6e6e6e">
            <table style="width: 100%">
                <tr>
                    <td style="width: 80%; padding: 5%"><h1 style="font-weight: normal; color: white; text-align: left">In Wait of Tomorrow</h1></td>
                    <td style="padding: 5%"><img style="text-align: right; max-width: 50px; padding: 5%; float: right" src="https://inwaitoftomorrow.appspot.com/static/img/logo.jpeg" alt="In Wait of Tomorrow"></td>
                </tr>
            </table>
        </div>
        <div style="max-width: 600px; margin: auto">
            <p>Dear Test,</p>
            <p id="openingMessagePrev">{{ opening_message }}</p>
        </div>
        <div style="max-width: 600px; margin: auto">
            <table>
                <tr>
                    <td style="width: 50%"><img style="text-align: center; width: 100%; max-width: 300px" src="https://inwaitoftomorrow.appspot.com{% for post in latest_post %}{{ post.Image_iphone }}{% endfor %}" alt="Latest article"></td>
                    <td>{% for post in latest_post %}<a href="{{ post.url_ }}"><h2>{{ post.Title }}</h2></a>{% endfor %}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="width: 100%"><p>{% for post in latest_post %}{{ post.Description }} | By {{ post.author }}{% endfor %}</p></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>{% for post in second_latest_post %}<a href="{{ post.url_ }}"><h2>{{ post.Title }}</h2></a>{% endfor %}
                    </td>
                    <td style="width: 50%"><img style="text-align: center; width: 100%; max-width: 300px" src="https://inwaitoftomorrow.appspot.com{% for post in second_latest_post %}{{ post.Image_iphone }}{% endfor %}" alt="Latest article"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="width: 100%"><p>{% for post in second_latest_post %}{{ post.Description }} | By {{ post.author }}{% endfor %}</p></td>
                </tr>
            </table>
        </div>
        <div style="max-width: 600px; margin: auto; padding-top: 10px">
            <p id="closingMessagePrev"></p>
            <p><a href="https://inwaitoftomorrow.appspot.com">In Wait of Tomorrow</a></p>
        </div>
        <div style="text-align: center; background-color: #dddddd; max-width: 600px; margin: auto; padding-top: 5px; padding-bottom: 5px">
            <h3>Don't already follow us?</h3>
            <p>Click here to find us on <a href="https://www.facebook.com/inwaitoftomorrow/">Facebook</a>, <a href="https://www.instagram.com/inwaitoftomorrow/">Instagram</a> and <a href="https://twitter.com/InWaitofTomorr1">Twitter</a> </p>
        </div>
    </div>

    <script>
        function previewNewsletter(){
            const openingMessage = document.getElementById('OpeningMessage').value;
            const closingMessage = document.getElementById('ClosingMessage').value;
            document.getElementById('openingMessagePrev').innerText = openingMessage
            document.getElementById('closingMessagePrev').innerText  = closingMessage
        }
    </script>
{% endblock %}

