{% extends "base.html" %}
{% block list_of_articles %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-center m-auto p-5 font-weight-normal" style="max-width: 600px">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}
    {% if form.errors %}
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in field_errors %}
                    {{ form[field_name].label }}: {{ error }}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    <div class="col-12 m-auto pt-5 pb-5 w-100" style="max-width: 1200px">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            {% from "_formhelpers.html" import render_field %}
            <div class="form-group font-weight-normal w-100">
                {{ render_field(form.specific_message_one, class="form-control form-control-user rounded-0", id='OpeningMessage', spellcheck="True", onchange="previewNewsletter()", placeholder="Opening Message") }}
            </div>
            <div class="form-group font-weight-normal w-100">
                {{ render_field(form.specific_message_two, class="form-control form-control-user rounded-0", spellcheck="True", id="ClosingMessage", onchange="previewNewsletter()", placeholder="Closing Message")}}
            </div>
            <div class="form-group font-weight-normal w-100">
                {{ render_field(form.authenticate, class="form-control form-control-user rounded-0", spellcheck="True", placeholder="Admin Passcode")}}
            </div>
            {{ form.Submit(class_="btn btn-dark rounded-0 btn-user btn-block col-sm-12") }}
        </form>
    </div>
    <br>
    <style>
        #emailHeader {
            max-width: 600px;
            margin: auto;
            background-color: #6e6e6e;
        }

        #name {
            width: 80%;
            padding: 5%;
        }

        #name h1{
            font-weight: normal;
            color: white;
            text-align: left;
        }

        #logo{
            padding: 5%;
        }

        #logo img{
            text-align: right;
            max-width: 50px;
            padding: 5%;
            float: right;
        }

        #openingEmail{
            max-width: 600px;
            margin: auto;
        }

        #emailBody{
            max-width: 600px;
            margin: auto;
            padding-top: 10px;
        }

        .readMore{
            background-color: #262626;
            border-radius: 0;
            color: white;
            border: none;
            padding: 10px;
        }

        #mainArticle{
            background-image: url('https://inwaitoftomorrow.appspot.com{{ latest_post.Image_iphone }}');
            background-size: cover;
            max-height: 400px;
            width: 100%;
            height: auto;
            min-height: 200px;
        }

        #mainArticle div{
            min-height: 200px;
            z-index: 1;
            overflow: auto;
            background: rgba(0, 0, 0, 0.7);
        }

        #mainArticle div h5{
            color: white;
            bottom: 0;
            text-align: right;
        }

        @media screen and (min-width: 600px){
            .flexDiv{
                display: flex;
                padding-top: 10px;
            }

            .flexOne{
                flex-grow: 1;
                width: 30%;
                top: 0;
            }

            .flexOne img{
                max-width: 180px;
                top: 0;
            }

            .flexTwo{
                flex-grow: 2;
                width: 60%;
            }
        }

        .flexDiv{
            padding: 10px;
            display: table;
        }

        .flexOne{
            padding: 10px;
            text-align: center;
            max-width: 600px;
            display: table-header-group;
        }

        .flexOne img{
            width: 100%;
            height: auto;;
        }

        .flexTwo{
            text-align: left;
            display: table-footer-group;
        }

        .flexTwo a{
            color: black;
        }
    </style>
    <div id="preview" class="col-12">
        <div id="emailHeader">
            <table style="width: 100%">
                <tr>
                    <td id="name"><h1>In Wait of Tomorrow</h1></td>
                    <td id="logo"><img src="https://inwaitoftomorrow.appspot.com/static/img/logo.jpeg" alt="In Wait of Tomorrow"></td>
                </tr>
            </table>
        </div>
        <div id="openingEmail">
            <p>Dear Test,</p>
            <p id="openingMessagePrev">{{ opening_message }}</p>
        </div>
        <div id="emailBody">

            <table style="padding-bottom: 10px">
                <tr>
                    <td id="mainArticle">
                        <div>
                            <h5>{{ latest_post.Title }}</h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ latest_post.url_ }}" style="color: black;">
                        <p>{{ latest_post.Description }} | By {{ latest_post.author }}</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="readMore">READ MORE &rarr;</button>
                    </td>
                </tr>
            </table>
            <div class="flexDiv">
                <div class="flexOne">
                    <img src="https://inwaitoftomorrow.appspot.com{{ second_latest_post.Image_iphone }}" alt="Latest article">
                </div>
                <div class="flexTwo">
                    <a href="{{ second_latest_post.url_ }}">
                        <h5>{{ second_latest_post.Title }}</h5>
                        <p>{{ second_latest_post.Description }} | By {{ second_latest_post.author }}</p>
                    </a>
                </div>
            </div>
            <div>
                <button class="readMore">READ MORE &rarr;</button>
            </div>
            <div class="flexDiv">
                <div class="flexTwo">
                    <a href="{{ third_latest_post.url_ }}">
                        <h5>{{ third_latest_post.Title }}</h5>
                        <p>{{ third_latest_post.Description }} | By {{ third_latest_post.author }}</p>
                    </a>
                </div>
                <div class="flexOne">
                    <img src="https://inwaitoftomorrow.appspot.com{{ third_latest_post.Image_iphone }}" alt="Latest article">
                </div>
            </div>
            <div>
                <button class="readMore">READ MORE &rarr;</button>
            </div>
        </div>
        <div style="max-width: 600px; margin: auto; padding-top: 10px">
            <p id="closingMessagePrev"></p>
            <p><a href="https://inwaitoftomorrow.appspot.com">In Wait of Tomorrow</a></p>
        </div>
        <div style="text-align: center; background-color: #dddddd; max-width: 600px; margin: auto; padding-top: 5px; padding-bottom: 5px">
            <h3>Don't already follow us?</h3>
            <p>Click here to find us on <a href="https://www.facebook.com/inwaitoftomorrow/">Facebook</a>, <a href="https://www.instagram.com/inwaitoftomorrow/">Instagram</a> and <a href="https://twitter.com/InWaitofTomorr1">Twitter</a> </p>
        </div>
    </div>

    <script>
        function previewNewsletter(){
            const openingMessage = document.getElementById('OpeningMessage').value;
            const closingMessage = document.getElementById('ClosingMessage').value;
            document.getElementById('openingMessagePrev').innerText = openingMessage
            document.getElementById('closingMessagePrev').innerText  = closingMessage
        }
    </script>
{% endblock %}

