<h3 class="w-100 pt-3 font-weight-normal">What are you most interested in?</h3>
<ul style="list-style-type: none;" id="addedWords" class="w-100"></ul>
<div class="form-row w-100">

    <div class="form-group col-10">
        <input type="text" id="wordAddText" class="form-control bg-transparent rounded-0 form-control-user font-weight-bold border-bottom" placeholder="Add words...">
    </div>
    <div class="form-group col-2">
        <button type="submit" class="btn btn-dark btn-user btn-block rounded-0 form-control form-control-user" onclick="addFromInput()" style="border: none!important;;"><i class="fas fa-arrow-right" style="border: none"></i></button>
    </div>
</div>
<div class="w-100">
    {% for word in words %}
        <article class="{{ word }}">
            <input type="checkbox" id="{{ word }}" onclick="addWords('{{ word }}')" value="{{ word }}"/>
            <div>
            <span>{{ word }}</span>
            </div>
        </article>
    {% endfor %}
</div>
<button type="submit" class="btn btn-dark btn-user btn-block rounded-0 form-control form-control-user" onclick="searchWords()">Search <i class="fas fa-arrow-right" style="border: none"></i></button>
